[2014-09-09 09:41] whitequark opened #2 "Deprecate uppercase deriver names in favor of lowercase"
This is to keep ppx_deriving similar to type_conv.

/cc @diml

[2014-09-09 09:43] whitequark opened #3 "Allow one toplevel package to register more than a single deriver"
Could use:

[code]

/cc @diml

[2014-09-09 09:44] whitequark opened #4 "Allow specifying .suffix as in [%derive.foo.suffix] and pass it to deriver"
/cc @diml

[2014-09-11 09:43] vbmithr opened #5 "customize names of variants (or polymorphic variants)"
[code]

[code]

[2014-09-11 12:35] #5 closed, assigned to nobody

[2014-09-13 18:47] Fourchaux opened #6 "deriving Show and function"
no possibility to derive Show with

type foo = int -> int      ( for example )  ?

spasibo

[2014-09-14 00:08] #6 closed, assigned to nobody

[2014-10-05 08:15] #2 closed, assigned to whitequark

[2014-10-08 14:50] hcarty opened #7 "GADT support"
As a wishlist entry.

Currently:
[code]

[2014-10-11 00:21] Drup opened #8 "Feature request: constructor deriving"
Basically, this is the use case: https://github.com/Drup/Syndic/blob/0e494be62e673888cb2245db29b62129206bf25f/lib/syndic_atom.ml#L1053-L1059

Features:
- fields that are optional (`options`, `lists`, `[@default <bla>]`, ...) are in an optional argument
- main field (`[@main]` ?) is without label, the rest are with labels. If there is no main field, the function ends by `()`.
- offer the possibilit

[2014-10-12 02:37] #3 closed, assigned to whitequark

[2014-10-12 02:37] #4 closed, assigned to whitequark

[2014-10-12 02:38] whitequark opened #9 "Allow shortening of [%derive.x:] to [%x:] when a deriver x exists"
Now that automatic dynlinking is gone, it's very easy to check whether a deriver exists or not.
/cc @diml

[2014-10-12 13:46] #9 closed, assigned to nobody

[2014-10-12 21:56] #8 closed, assigned to nobody

[2014-10-23 20:15] agarwal opened #10 "add version field to opam file"
I recommend adding `version: "dev"` to the `opam` file. Currently, if you pin, opam still reports the version as 0.3, which is slightly unintuitive. Adding this line will cause the version to be called "dev".

[2014-10-27 15:37] whitequark opened #11 "Support for Map and Hashtbl"

[2014-10-30 15:19] struktured opened #12 "Build error with latest master ppx_deriving, ppx_protobuf + opam 1.2.0"
I can't build the latest of ppx_deriving and ppx_protobuf.

$ opam pin -k git add ppx_deriving_protobuf ppx_deriving_protobuf
[NOTE] Package ppx_deriving_protobuf is already pinned to /home/cpiccion/workspace/ppx_deriving_protobuf. This will reset metadata.
Proceed ? [Y/n] y

[ppx_deriving_protobuf] Fetching /home/cpiccion/workspace/ppx_deriving_protobuf
Installing new package description for ppx_

[2014-10-31 03:25] #12 closed, assigned to nobody

[2014-11-14 00:55] Drup opened #13 "Error location"
If I use `[%derive.show: statement list]` and that `statement` is not found, the error is the following:

[code]

[2014-11-14 06:06] #13 closed, assigned to nobody

[2014-11-14 10:57] c-cube opened #14 "deriving first-class variant constructors/field accessor"
In a similar way to [variantslib](https://github.com/janestreet/variantslib) and [fieldslib](https://github.com/janestreet/fieldslib), be able to generate functions:

[code]

and

[code]

[2014-11-17 18:12] #10 closed, assigned to nobody

[2014-11-21 03:29] camlspotter opened #16 "Build method without OPAM"
Could you detail how to build ppx_deriving without OPAM for ppl with OCaml on MinGW?

From `opam` file, it seems to be
[code]

In my environment the above builds things fine. The hard part is the installation. I had to run `ocamlifind` manually getting the file information from `ppx_deriving.install`.

Thanks!

[2014-12-15 20:16] Drup opened #17 "Derive visitors"
I would like to be able to derive visitors, in the style of `Ast_mapper`.

Given a set of type in a `type ... and ...` declaration, a visitor would be a record with one field per type and a field for each external type used in the type declarations.

[2014-12-22 07:50] struktured opened #18 "cannot derive recursive modules with multiple type parameters"
[code]

[2014-12-22 09:53] #18 closed, assigned to nobody

[2015-01-03 03:10] smondet opened #19 "ppx_deriving_command_line"
That would be cool maybe (just thinking out “loud”):

[code]

and would generate a parse-command-line function:

[code]

(or just a `t CmdLiner.Term.t`?)

[2015-01-03 03:30] whitequark commented on #19
I do think this would be neat, but this is certainly outside of the scope of ppx_deriving itself, for which I have no intent of adding external dependencies.

[2015-01-26 15:47] c-cube opened #22 "qualified attributes don't seem to work"
Simple example:

[code]

[2015-01-26 19:42] #22 closed

[2015-01-26 19:44] c-cube commented on #22
That was fast, thanks :)

[2015-01-29 18:21] modlfo commented on #16
I was able to compile ppx_deriving in the MSVC port of Ocaml with make. The only change that I had to do was to make was to change the ".a" extension to ".lib" in the pkg/topkg.ml file.

After building I had to manually fix the version in the META file and copy all the compiled files to my site-lib directory. Also I had to rename the ppx_deriving_main.native to ppx_deriving.exe

[2015-03-04 18:32] choeger opened #23 "deriving show recursive, polymorphic types"
When you try to derive for a type like:

[code]

You will end up with recursive functions:

[code]

However, the recursive binding does not allow for multiple instantiations of the polymorphic argument. Hence, you should probably move that out of the recursive group.

[2015-03-05 00:43] whitequark commented on #23
I don't quite understand what you mean. Can you show an example?

[2015-03-06 13:21] choeger commented on #23
Here is a non-working example:
`
type foo = Foo of int | Bar of int baz | Baz of float baz and 'a baz = {a : 'a} [@@deriving show] ;;
`
The reusage of the structure of `baz` is a useful pattern in real-world applications (since structures tend to occur repeatedly). However, inside the "head" `foo` there may be a finite amount of instantiations of `baz`, deriving only allows for one currently. To s

[2015-03-06 21:56] whitequark commented on #23
Ok, the code that is currently generated is:
[code]

What code should I generate instead?

[2015-03-16 09:06] choeger commented on #23
I would propose to break the recursion for generated polymoprhic pp functions that appear multiple times on the rhs of other generated pp functions:

[code]

The additional parameter to ```pp_baz``` is of course not necessary here, but might be in the general case. However it is probably a design decision, where and how to break the recursion. OCaml only requires you to do it somehow ;).

[2015-03-16 10:04] whitequark commented on #23
OK. I will not have time to make this relatively nontrivial change soon, so feel free to submit a PR if you come up with one.

[2015-03-25 18:04] Twinside opened #25 "Adding support for Big_int by default"
The Big_int type from the standard library is a little bit "awkward", it doesn't fit in the standard convention. Would it be possible to have special cases to support this special case?

[2015-03-25 18:07] whitequark commented on #25
Probably not. You should use zarith anyway most of the time. If you use Big_int really a lot, you can define your own wrapper module.

[2015-03-26 12:47] Twinside commented on #23
There is a far simpler solution: adding a strong polymorphic type signature, for the example used in this ticket:
[code]

The type signature will force the function to be polymorphic, and allowing proper compilation.

I can provide a similar example but for the `ord` deriver:
[code]

Compiling it yield the following error message:
[code]

Looking at the generated code (extracting using ppx_tools/r

[2015-03-31 19:05] smondet opened #28 "Assumption about List.map"
The generated code uses `List.map` and expects a particular order for its arguments which is not the one used in `Core_kernel` or [nonstd](http://seb.mondet.org/software/nonstd/index.html).

[code]

I recommend generating code that uses `ListLabels.map` directly, it's much less likely that anyone will override that name, and using labels will make much better error messages anyway.

Edit: comments

[2015-04-01 02:48] whitequark commented on #28
Not quite. The right way to fix this is to add Ppx_deriving_runtime, [like in ppx_deriving_yojson](https://github.com/whitequark/ppx_deriving_yojson/blob/master/src/ppx_deriving_yojson_runtime.ml#L13-L19).

[2015-04-01 13:54] smondet commented on #28
Indeed much better in the long term.

[2015-04-06 22:08] Drup opened #30 "Improve locations for external functions"
For example:
[code]
The generated identifier `Foo.to_string` could be located either to the `foo` field or to the `Foo.t` type.
It would help with [big records](https://github.com/ocsigen/ocsigenserver/blob/cohttp_rebased/src/server/ocsigen_request_info.ml#L15-L83) (No, I didn't wrote this monstrosity).

[2015-04-06 22:12] whitequark commented on #30
Good idea. This would be easy to fix using `[@metaloc]`, I think.

[2015-04-06 22:14] Drup commented on #30
I plan to do it, just posting bugs so I don't forget while debugging something else.

[2015-04-06 22:15] Drup opened #31 "Handle Lazy.t in show."
The sensible handling would be to test if it's evaluated (with Lazy.is_val) and print it or `<not evaluated>`.

[2015-04-07 11:52] Twinside commented on #31
Handling it for eq & ord could be beneficial, but it imply to force the thunk.

[2015-04-19 07:39] paurkedal opened #33 "Recursive application of the mapper"
I think there should be a way to apply the deriving-mapper to expression-valued attributes. Maybe as an alternative Arg.expr or by exposing the mapper as a global?

My motivation is that I wrote a [syntax extension to generate random instances of types](https://github.com/paurkedal/ppx_deriving_random).  The derived-from type takes an attribute `[@random ...]` to override with custom generator cod

[2015-04-19 13:05] whitequark commented on #33
Nice syntax extension!

I agree that the mapper should be exported. Would you make a PR?

[2015-04-19 13:39] paurkedal commented on #33
Thanks!

Sure, though I can't think of a nice way to do it without breaking backwards compatibility.  If doing it from scratch I would have replaced the ~option ~path parameters with a single private record for extensibility.  To keep backwards compatibility exposing it as a global seems the best option.  I think it needs to be a reference set by the mapper function, may disguised as a function:
[

[2015-04-19 15:01] whitequark commented on #33
I think a (more) elegant solution would be moving Ppx_deriving_main.{derive,derive_type_decl,derive_type_ext,module_from_input_name,mapper} into Ppx_deriving. mapper would be just a field, since it's almost stateless*. Ppx_deriving_main would only consist of code that does plugin loading and maintaining the Ast_mapper cookie.

(*) It has implicit state in form of module_nesting. It could be tempti

[2015-04-19 15:50] paurkedal commented on #33
I don't understand where you suggest where you suggest putting the mapper field.  The only record I can see is deriver, but that is constructed before the mapper.  We could create a new record, as I suggested, but how can we pass it to the deriver implementations without breaking backwards compatibility?

[2015-04-19 16:54] whitequark commented on #33
Exporting it as `Ppx_deriving.mapper`. (Deriver plugins can't, or shouldn't even if they somehow can, directly refer to Ppx_deriving_main.

[2015-04-19 17:07] paurkedal commented on #33
Aha, we're going for a global then. But it still needs to be a ref, since mapper is only defined after processing the arguments passed by PPX.  We can expose it as a function if you prefer, and then I see the need for moving the code from main.

[2015-04-19 17:09] whitequark commented on #33
No, no need to be a ref. [This code](https://github.com/whitequark/ppx_deriving/blob/master/src/ppx_deriving_main.ml#L89-L91) is the only part that depends on argv, and it should be left in Ppx_deriving_main. It would process argv, then just return `Ppx_deriving.mapper`.

[2015-04-19 17:19] paurkedal commented on #33
Aha, `registry` is mutable, so mapper can be constructed before loading the plugins.  I'll seen a PR shortly.

[2015-04-19 17:42] paurkedal commented on #33
The local `structure` function uses `add_plugins`, so it seems I have to move pretty much all code to `Ppx_deriving`, leaving only
[code]
But then, do we wish to expose the plugin-related functions to the user, or do we move that code, as well?

BTW, any preference for where the `mapper` should be put in the interface?  I've put it at the bottom, and left out the other from the interface.

[2015-04-19 17:58] paurkedal commented on #33
If it's okay to load the plugins before `Ppx_deriving_main.mapper` is called, then I'd move the `get_plugins () |> List.iter dynlink` to a module level init, which means the only plugin-related function we need to expose is `Ppx_deriving.add_plugins`.

Sorry you have to spell things out.  I'm just familiarising myself with PPX, using deriving as a soft introduction to the topic.

[2015-04-19 18:04] whitequark commented on #33
`get_plugins ()` can't be moved into module level dynlink since it depends on Ast_mapper cookie being set, and it is only set after `Ast_mapper.register` starts executing.

Otherwise you pretty much nailed it in the previous comment.

[2015-05-15 08:59] unhammer opened #36 "doc should mention that show has to be used in the code for it to be usable from toplevel"
I use deriving show just to make it easier to see stuff in utop, but when I compile the code, it doesn't seem to get applied unless I refer to the show function somewhere in the code. Perhaps the README should mention this, since it may be a bit confusing to newcomers.

[2015-05-15 11:17] whitequark commented on #36
Can you explain what exactly your issue is? I do not understand it.

[2015-05-15 19:14] unhammer commented on #36
OK, this might be a PEBKAC; I was going to make a minimal test case here but now I can't reproduce it any longer. Sorry for the noise …

[2015-05-15 19:14] #36 closed

[2015-06-15 06:50] vbmithr opened #37 "Object support ?"
Not sure how this would actually work, but it would be nice to have at least a pretty printer for object via ppx_deriving.

[2015-06-15 06:52] #33 closed

[2015-06-15 06:53] whitequark commented on #37
What should it print?

[2015-06-15 07:08] vbmithr commented on #37
I was thinking about this in the context of having object serving as "views" of data. The object would be equivalent to a record, but instead of having fields, it would have method that would return meaningful data from raw data.
I'm looking for a way to display C datastructures. Currently, I use cstruct to autogenerate the code to access the C structure fields. I'd like to also be able to display

[2015-06-15 07:10] whitequark commented on #37
Can you implement this using `[@printer]`? If yes, how? If not, why?

[2015-06-15 07:13] #23 closed

[2015-06-15 07:13] whitequark commented on #19
Closing as out of scope.

[2015-06-15 07:13] #19 closed

[2015-06-15 07:39] vbmithr commented on #37
On 15/06/2015 09:10, whitequark wrote:

I have not taken the time to understand how the "show" function works,
but if it is possible to derive a show function from a object that
would, for each method of type () -> some type, print this some type,
this would certainly work.

The problem is that in the general case, an object can have method of
any type, that should be printed as <abstract>/<opaque

[2015-06-15 07:42] whitequark commented on #37
Uh, no. ppx_deriving_show will not call every method that accepts `()`, that would just invoke side effects where you don't expect it.

[2015-06-15 07:45] vbmithr commented on #37
On 15/06/2015 09:42, whitequark wrote:

Right, this is not generic.
I'm looking for a way to construct "views" of data in OCaml in general,
not sure how I should do this.

But, thanks :)

--
Vincent

[2015-06-15 07:47] whitequark commented on #37
You could do your own ppx_deriving plugin that would do this to object types, then use it to construct printers for ppx_deriving_show.

[2015-06-15 08:35] vbmithr commented on #37
Ok, thanks!

[2015-06-15 08:35] #37 closed

[2015-06-16 14:49] braibant opened #38 "ocamlfind ocamldep dependencies"
I have some trouble understanding what looks like an issue with the ppx_deriving ocamlfind package.

`ocamlfind ocamldep  -package X ... -package Z -modules myfile.mli` outputs a proper list of depencides, e.g.,

[code]

while

`ocamlfind ocamldep  -package X ... -package Z -package ppx_deriving  -modules myfile.mli` produces an empty dependency list for `myfile.mli`.

Would you have any idea abou

[2015-06-16 15:16] whitequark commented on #38
Most likely there is some kind of error encountered by ppx_deriving. Unfortunately the process to extract that from ocamldep is contrived. Can you try replacing ocamldep with ocamlc and see if it compiles?

[2015-06-16 15:23] braibant commented on #38
Oh you are right. I have a `Cannot locate deriver <local deriver here>` error using `ocamlc`. Which points to a now-obvious mistake in our  `myocamlbuild.ml` plugin...

Thanks a lot.

[2015-06-16 15:23] #38 closed

[2015-06-17 21:55] c-cube opened #39 "regression with 4.02.2 regarding attributes"
Looks like attributes are ignored in 4.02.2:

[code]

expect: `{ bar = <opaque>"}`
got: `{ bar = 1 }`

[2015-06-17 22:01] whitequark commented on #39
Yeah, the code above now looks like `type foo = { bar [@opaque] : int }`. Can you please make a PR?

[2015-06-17 22:04] c-cube commented on #39
I will, tomorrow. I assume you mean that the attribute is attached to the field label, rather than the field type.

[2015-06-17 22:28] whitequark commented on #39
Exactly. I have asked for this change, in fact.

[2015-06-18 08:23] c-cube commented on #39
I'm not exactly sure how to proceed. Apparently, the previous design (attaching attributes to types) allowed to use `expr_of_typ` on the type. Now, in the case of a record field, I would have to either duplicate attribute detection in `expr_of_type` for records, or give the field attributes to `expr_of_typ`…

[2015-06-18 10:35] vbmithr commented on #39
[code]

It's me, or ?

[2015-06-18 18:06] whitequark commented on #39
Not you. In 4.02.2, the attribute can't be placed after record field name to avoid ambiguity. The attribute after the type goes into its slot instead. (Think of it as moving the attribute from `{ bar * : int }` to `{ bar : int * }`.

[2015-06-18 18:07] whitequark commented on #39
@c-cube Can you detect the attribute in expr_of_type for records and attach it back to the record type so that dependent code does not have to change or distinguish these cases?

[2015-06-24 11:22] #39 closed

[2015-06-24 15:21] smondet opened #41 "deriving 'eq' generates warning"
[code]

(It does not happen with `yojson`, or `show`)

[2015-06-24 15:29] smondet commented on #41
And if it helps people, here is how one can disable the warning for the generated code:

[code]

[2015-07-01 15:56] hcarty opened #42 "2.1 doesn't work with OCaml 4.02.1 + merlin - update opam to reflect this"
The opam package for 2.1 should probably be constrained to OCaml >= 4.02.2

[2015-07-01 16:17] hcarty commented on #42
I'll submit the change to ocaml/opam-repository if you agree.

[2015-07-06 09:21] bobot opened #43 "merlin"
I don't know if it is linked with #42 but since 2.1 ppx_deriving doesn't work inside merlin anymore (work with ocamlfind directly).

It seems to be linked with the renaming of the command since the following hack fix the problem, after installation:
- in META: replace `ppx = "./ppx_deriving_main"` by `ppx = "./ppx_deriving"`
- create a symlink from `ppx_deriving_main` to `ppx_deriving`

Perhaps th

[2015-07-06 09:23] whitequark commented on #43
Can you test if using master (https://github.com/whitequark/ppx_deriving/commit/f69ac6dc503d2cda6bd79c417228b05cb2a1a252) fixes it?

[2015-07-14 18:44] tizoc commented on #43
For the record, I was having issues with ppx_deriving in merlin (2.2, ocaml 4.02.1) too, doing `opam pin add ppx_deriving https://github.com/whitequark/ppx_deriving.git` fixed it.

[2015-07-14 18:53] whitequark commented on #43
Released ppx_deriving 2.2. https://github.com/ocaml/opam-repository/pull/4468

[2015-07-14 18:53] #43 closed

[2015-07-14 18:53] whitequark commented on #42
Sure.

[2015-07-14 18:55] tizoc commented on #43
Well, unpinning and upgrading then :)

Thank you.

[2015-07-14 18:55] whitequark commented on #43
It will be available in the repo in an hour or so, I would think.

[2015-07-23 16:23] vogler opened #46 "show: missing parentheses around constructors"
Right now, only constructors with one argument have parenthesis around them. Omitting parenthesis is ok for nullary constructors, but shouldn't be for n-ary ones (as the the output can no longer simply be pasted into the top-level):

[code]

[2015-07-23 16:28] whitequark commented on #46
@c-cube, I think you altered this last? https://github.com/whitequark/ppx_deriving/commit/8048cf70cb156a776744e14676e6b6610a41809a
I don't quite remember what was the motivation for the change.

[2015-07-23 18:28] c-cube commented on #46
Yes indeed, I changed it slightly (I think it was because I found `Some (1)` uglier than `(Some 1)`). I see the problem for nested constructors. A nice thing to have would be to use the old behavior for unary constructors when the argument's type requires it (e.g. another non-nullary constructor, functions, custom printer), but remove parenthesis if the argument doesn't need any (record, primitive

[2015-07-24 12:20] c-cube commented on #43
my uneducated guess is that merlin searches for `ppx_deriving` using a built-in binary name "ppx_deriving_name". This way it couldn't find the renamed executable.

[2015-07-24 13:51] whitequark commented on #43
The META file was not updated alongside with .install. I'm actually not sure why ocamlfind worked, it shouldn't have.

[2015-07-27 14:42] vogler commented on #46
Yes, that's probably better than adding them everywhere.

[2015-08-13 23:46] rgrinberg opened #48 "deriving"

[2015-08-13 23:46] #48 closed

[2015-08-31 13:26] db4 opened #51 "Compiler-libs Btype.hash_variant"
Sometimes it's convenient to serialize a polymorphic variant using it's hash value. Unfortunately `Btype.hash_variant` is not accessible from a `ppx_deriving` plugin. And I cannot dynload `ocamlcommon.cma` because it uses unsafe features. Do you know the way to calculate hash value without copy&paste from `btype.ml`?

[2015-08-31 14:39] whitequark commented on #51
There isn't. (Except `Obj.magic`, but that's even worse.)

[2015-09-09 18:23] chrismamo1 opened #52 "Documentation for provided plugins?"
Although the `README.md` suggests that one should read through the included plugins in order to learn how to develop a new one, the included plugins are somewhat lacking in documentation (from what I can tell), which may be raising the entry barrier for plugin development. I would submit a PR with some in-code comments, but I'm not entirely certain that I understand `ppx_deriving` well enough to d

[2015-09-10 02:57] whitequark commented on #52
I would welcome such a PR, but I do not have time to write it myself in near future.

[2015-09-10 18:49] modlfo opened #53 "Derive hash"
I have found ord and eq very useful, specially with the capability of providing custom functions. In the same fashion it would be great having a deriving hash to be used with Hashtbl.Make.

[2015-09-11 02:09] chrismamo1 commented on #52
@whitequark Alright, I'll get to work on it.

[2015-09-12 13:47] whitequark commented on #53
Yeah. I might do this over the weekend...

[2015-09-12 13:50] whitequark commented on #42
Have you ever submitted this change?

[2015-09-14 09:31] camlspotter opened #54 "MinGW build failure"
With MinGW OCaml, the build command `ocaml pkg/build.ml native=true native-dynlink=true` fails as follows:

[code]

I guess this is since MinGW OCaml uses a cross compiler for MinGW which produces library files with `*.a` instead of `*.lib`.  The following quick but not entirely correct patch againnst `topkg.ml` fixed the issue:

[code]

To fix the issue properly, I guess you need to find which C

[2015-09-14 09:33] whitequark commented on #54
Known bug: https://github.com/dbuenzli/topkg/issues/11

[2015-09-14 09:37] #25 closed

[2015-09-14 11:01] camlspotter commented on #54
I got the workaround above so I am ok for myself.  Please close the ticket if you like.  Thanks!

[2015-09-14 11:04] #54 closed

[2015-09-15 11:50] whitequark commented on #28
Fixed in https://github.com/whitequark/ppx_deriving/commit/b3dd8678a9179bba6fcbea5c4429867fd86ab2c3.

[2015-09-15 11:50] #28 closed

[2015-09-15 11:52] whitequark commented on #41
Fixed in https://github.com/whitequark/ppx_deriving/commit/a2d2dfae16bc02a98fff21f18ae87a7eee4fdda7.

[2015-09-15 11:52] #41 closed

[2015-09-15 12:25] whitequark commented on #31
Wish granted: https://github.com/whitequark/ppx_deriving/commit/483161259b3f219d6447abb2af03ebab145e027f.

[2015-09-15 12:25] #31 closed

[2015-09-15 12:27] whitequark commented on #30
So, are you going to do it?

[2015-09-15 12:36] whitequark commented on #51
Wish granted: https://github.com/whitequark/ppx_deriving/commit/7e21e335a80f27c2fcaaf8bacac66dcab3759484.

[2015-09-15 12:36] #51 closed

[2015-09-15 12:43] whitequark commented on #53
Hm, maybe not. There's no usable implementation of OCaml's builtin hash algorithm exported from the stdlib; I will not be providing a hash algorithm inside ppx_deriving since this is not the job of ppx_deriving and the choice of a hash function is not trivial; any external library that provides a hashing module (i.e. mix and finalize functions) can provide a ppx_deriving plugin itself, and will pr

[2015-09-15 12:43] #53 closed

[2015-09-15 13:00] whitequark commented on #53
Actually, I cannot find any usable hashing library at all, so that will have to be written first.

[2015-09-25 22:43] Drup commented on #30
Apparently, I did forget ... I will try to make time, no guarantee. :(

[2015-09-27 17:54] khooyp opened #57 "Deriving for a module with the same name as a standard library module"
In ppx_deriving 2.2., it was possible to apply @@deriving on a module that happens to have the same name as a standard library module, e.g.:

[code]

However, this results in an error in ppx_deriving 3.0:

[code]

Looking at the output of `ppx_tools/rewriter`, it appears that Ppx_deriving_runtime.List is shadowing the user-defined List module:

[code]

[2015-09-27 18:04] whitequark commented on #57
Oh, this was an unintended result of the hygiene improvements. (Note that in the past, it would not be possible to use `List.t` and the standard library `list` in the same data structure.)

Let me take a stab at this...

[2015-09-27 18:42] #57 closed

[2015-10-08 20:58] hcarty opened #59 "Allow ignoring/eliding fields in the standard derivers"
It would be nice to be able to write:
[code]
to support something similar to:
[code]

[2015-10-08 21:04] whitequark commented on #59
This functionality is already available as `meta : string [@ord.compare fn _ _ -> 0] [@show.opaque]`.

[2015-10-08 21:07] hcarty commented on #59
Oh, of course.  Thank you!

[2015-10-08 21:07] #59 closed

[2015-11-19 14:39] dariusf opened #61 "Printing recursive types"
Is there a way to generate printers for recursive types?

For example,
[code]
I'm guessing the printer would look something like `eval`, but would compose a given `pp` function. Don't understand `ppx_deriving` well enough to know how difficult this is though.

[2015-11-19 14:48] whitequark commented on #61
Yes:
[code]

It would be nice if you could do something like `[%show: [ `Plus of 'a * 'a | `Num of int ] as 'a]` without introducing a type, but currently that doesn't work. In fact it breaks in a fairly opaque way:
[code]
which is something I should fix.

[2015-11-19 16:21] dariusf commented on #61
Ah, I see. I'm defining it in this way because I want to tie the knot later, in order to extend the variant.

[code]
If it's too niche a use case then I'll write the printer by hand.

Would the `as 'a` example desugar to a named type, like `exprec`?

[2015-11-19 16:36] whitequark commented on #61
Well, I'm suggesting to define the printer at the time you're tying the knot. The printer I wrote is no more or less polymorphic than your eval function (which also ties the knot), no?

Try writing an eval function that *wouldn't* tie the knot to see what I mean; it's similarly impossible to write a show function like that.

As for the inline form, I've no idea how to actually implement it, as I d

[2015-11-19 16:50] dariusf commented on #61
Right, I get what you mean now. That works!

[2015-11-26 11:51] darioteixeira opened #62 "Shouldn't "create" be "make"?"
This may be an exercise in bikeshedding, but naming constructors `make` seems to be a more common practice.  Is there a particular reason why ppx_deriving chose `create`?

[2015-11-26 16:04] whitequark commented on #62
`Array.create` etc

[2015-11-26 16:36] darioteixeira commented on #62
Which is precisely my point: `Array.create` is deprecated in favour of `Array.make`...

[2015-11-26 16:44] whitequark commented on #42
@hcarty Ping?

[2015-11-26 16:44] #61 closed

[2015-11-26 16:45] whitequark commented on #62
Hm. I don't remember.

[2015-11-26 17:00] whitequark commented on #52
@chrismamo1 Any progress?

[2015-12-17 09:51] #42 closed

[2015-12-17 09:51] whitequark commented on #42
Done.

[2015-12-17 09:52] whitequark commented on #62
Would you write a PR adding `make` as an alias to `create` and emitting a deprecation warning?

[2015-12-17 10:29] darioteixeira commented on #62
Sure.  I'll try to find some time for it...

[2015-12-20 21:36] sapristi opened #63 "Compatibility of Ppx_deriving_runtime.Pervasives with Pervasives inside Merlin"
When doing `print_string (show_qsqdsqd dqsd)`, merlin says `Error: This expression has type Ppx_deriving_runtime.string but an expression was expected of type string`, although the code compiles and runs well.

[2015-12-20 21:43] whitequark commented on #63
I think that's a bug in Merlin.

[2015-12-21 21:48] rgrinberg opened #65 "Why does ppx_deriving.create always has a `unit` at the end?"
for example:

[code]

I thought the `unit` is only necessary if any of the labels have a default value? (i.e. optional).

[2015-12-21 23:50] whitequark commented on #65
True, but I didn't implement that for reason that I am unable to remember. That would be a breaking change... worth it?

[2015-12-21 23:59] rgrinberg commented on #65
I'm against breaking people's code if there's a bunch of usage in the wild. No idea whether that's the case however.

Another possibility is to have `[@@deriving make]` that will not generate the extra `unit` when it's not necessary. Might address #62 as well? This would be satisfactory to me.

[2015-12-21 23:59] whitequark commented on #65
Sure. Would you prepare a PR?

[2015-12-22 00:03] rgrinberg commented on #65
Sure, I'll give it a try. First, let me try fixing `create` outright to see if there was anything concrete that stopped you.

[2015-12-22 00:03] whitequark commented on #65
I've already looked, there's nothing in particular, it just doesn't have the check for optionals. Should be easy enough to fix

[2015-12-28 17:04] sapristi opened #67 "Error with ppx_deriving when installing nanomq"
Incompatibiliy between Ppx_deriving_runtime.string and string when installing nanomq

[code]

[2015-12-28 17:08] whitequark commented on #67
That's bizarre--why wouldn't it be? https://github.com/whitequark/ppx_deriving/blob/master/src/ppx_deriving_runtime.mli#L29

[2015-12-28 17:17] rgrinberg commented on #67
This is fixed in nanomsg/master I believe. I think @vbmithr fixed so I'm not sure what was the cause.

[2015-12-28 17:23] sapristi commented on #67
so I should install from github and not through opam ?

[2015-12-28 17:24] rgrinberg commented on #67
`$ opam pin add nanomsg --dev-repo` should be ok but keep in mind that there's some bugs outstanding in master for now. I'm working on them this week however.

[2015-12-28 17:33] sapristi commented on #67
ok thanks !

[2016-01-27 22:53] labichn opened #68 "`ppx_deriving.make` not found by ocamlfind"
The package descriptor for the new `make` plug-in is missing (should be in pkg/META.in). This causes the following error when ppx_deriving.std is referenced:

Pull request incoming.

[2016-01-27 23:14] #68 closed

[2016-01-27 23:14] whitequark commented on #67
Closing as it is fixed upstream.

[2016-01-27 23:14] #67 closed

[2016-02-15 23:48] rgrinberg commented on #65
@whitequark I think we can close this. Can we expect a release in the near future?

[2016-02-15 23:48] #65 closed

[2016-02-15 23:49] rgrinberg opened #70 "Question: How to run ppx_deriving with ppx_deriving using a particular plugin:"
Citing your blog post http://whitequark.org/blog/2014/04/16/a-guide-to-extension-points-in-ocaml/ it should be something like this:

[code]

But I'm not sure where to pass the names of concrete plugins. For example `ppx_deriving.eq`

[2016-02-16 00:47] whitequark commented on #70
Uhm.
[code]

[2016-02-16 00:47] #70 closed

[2016-02-16 01:29] rgrinberg commented on #70
Thanks @whitequark , at least I don't feel bad for asking because I definitely wouldn't have figured that out on my own.

Perhaps it's worth a mention in the README.

[2016-02-16 01:37] whitequark commented on #70
Mhm, not sure. It's a gross solution.

[2016-02-16 03:40] pqwy opened #71 "`eq` derived for `array` raises"
[code]

Will PR a fix.

[2016-02-16 03:55] #71 closed

[2016-02-16 08:11] dariusf opened #73 ""show cannot be derived for int" for records"
I'm playing around with @camlspotter's [TyPPX library](https://bitbucket.org/camlspotter/typpx). With a ppx preprocessor that depends on TyPPX (an identity mapper is sufficient to reproduce this) and ppx_deriving in the same project, I get `show cannot be derived for int` for records:

[code]

Strangely, this
[code]
compiles and works fine.

[2016-02-16 08:33] camlspotter commented on #73
I feel this is not a problem of ppx_deriving.

Could you make a repro case *with build scripts*? Combining two PPXs can be very sensitive with their application order therefore I need the exact build commands you tried.

You can also use TyPPX issue page I have created at
https://bitbucket.org/camlspotter/typpx/issues?status=new&status=open

[2016-02-16 09:04] dariusf commented on #73
Sure, I'll repost this over at BitBucket. Thanks!

[2016-02-16 09:04] #73 closed

[2016-02-17 05:07] whitequark commented on #70
Meh, `ocaml -dsource` is a far better solution.

[2016-02-17 05:31] whitequark commented on #70
README updated.

[2016-02-17 05:33] whitequark commented on #52
Closing due to inactivity. Please reopen if you find time to work on this.

[2016-02-17 05:33] #52 closed

[2016-02-17 05:34] whitequark commented on #62
This is fixed by #66.

[2016-02-17 05:34] #62 closed

[2016-02-17 05:36] whitequark commented on #63
Bug reported upstream.

[2016-02-17 05:36] #63 closed

[2016-02-17 05:37] whitequark commented on #16
I've been using a newer topkg version for a while that has better Windows support--could you please recheck? @modlfo @camlspotter

[2016-02-17 06:00] whitequark commented on #65
3.1 released opam publish submit ./ppx_deriving.3.1

[2016-02-23 03:27] rgrinberg opened #75 "Change Arg to use Result"
There's no need for the

[code]

polymorphic variant as `result` is available in 4.03 and as a findlib packages for earlier OCaml's.

Is there anyway to make this transition without breaking a bunch of code?

[2016-02-23 12:02] whitequark commented on #75
What benefit does it have?

[2016-02-23 12:13] Drup commented on #75
Interop, avoiding poly variants (and the associated bad error messages).

[2016-02-23 12:56] c-cube commented on #75
This is going to break every package that uses `ppx_deriving` (also, `ppx_deriving_yojson`). I don't think we have a clear idea of how to transition from this error type to `Result` yet in any OCaml project…

[2016-02-23 13:05] whitequark commented on #75
Yes, this needs a major version bump.

[2016-02-23 14:57] rgrinberg commented on #75
For me the benefit is that I can use standard result combinators (such as using dbuenzli's rresult).

But I think the breakage is being overestimated perhaps. This change would only break other derivers. Of which there's only several of:

A rough estimate of those was done using `$ opam list --depends-on ppx_deriving --all | grep -i ppx | grep -v deprecated | grep -iv 113` which attempts to remove

[2016-02-23 14:59] c-cube commented on #75
I think the switch to result needs to happen, but it *will* break user code too. For instance I sometimes pattern-match directly the result of `foo_of_yojson`.

[2016-02-23 15:09] rgrinberg commented on #75
@c-cube Hmm but I consider ppx_deriving_yojson's return types a yojson issue that is orthogonal to this. This issue can be addressed without touching ppx_deriving_yojson's generated code.

[2016-02-23 15:14] c-cube commented on #75
you would keep ``[`Ok | `Error]`` in ppx_deriving_yojson but not in ppx_deriving? sounds weird... (Just to be clear, there are explicit error types in the code generated by `ppx_deriving_yojson`, for deserialization)

[2016-02-23 15:15] rgrinberg commented on #75
I'm in favor of changing `ppx_deriving_yojson` as well but I don't yet have an idea how much churning it on opam.

[2016-02-23 22:55] nv-vn commented on #75
Personally, I'm in favor of the change here. Since the only packages depending on `ppx_deriving` are other `ppx`s, it's quite likely that those maintainers will have to change their code just to get it to work with changes to 4.03's AST (constants are being changed, for example, which is a breaking change), so I don't think it's too much to ask for if I'm going to be rewriting code to accommodate

[2016-02-24 03:09] camlspotter commented on #75
I am ok if you want the change.  Please increase the minor version so that I can notice when you would have done it. :-)

[2016-02-24 13:33] johanneskloos opened #77 "Show: [@printer] not considered in variants"
Consider the following code (printer_variant.ml):
[code]

Extrapolating from the documentation, I expect the output to be "first case, Printer_variant.Second". But:
[code]

Would it be possible to support adding [@printer] attributes to the cases of a variant type, so that the behavior matches my expectations?

[2016-02-24 13:42] whitequark commented on #77
Sure, it's a straightforward improvement. You're welcome to write a PR.

[2016-02-24 17:42] whitequark commented on #77
Fixed by #78.

[2016-02-24 17:42] #77 closed

[2016-02-27 00:42] modlfo commented on #16
There's still an issue installing in Windows. I get this error:
[code]

there's an strange \r in the path name. I don't know if this happens only in my computer.

[2016-02-27 13:43] whitequark commented on #16
@modlfo can you try again with the last command being...

    mv `ocamlfind query ppx_deriving -suffix /ppx_deriving_main.native` `ocamlfind query ppx_deriving -suffix /ppx_deriving$(EXE)`

?

[2016-02-28 08:34] modlfo commented on #16
That las command works correctly. I get the ppx_deriving.exe in the library folder. Thanks!

[2016-02-28 18:04] #16 closed

[2016-03-01 18:15] hcarty opened #80 "OCaml 4.03 compatibility"
There are a handful of changes required, including new constant representations, to be compatible with OCaml 4.03.x.

[2016-03-02 15:08] #80 closed

[2016-03-02 16:01] hcarty commented on #80
Thanks!

[2016-03-10 03:54] andrewray opened #83 "Type error with inheritied polymorphic variant type in map"
Possibly an unusual case but if you declare the following types with a signature to constraint it

[code]

you get the error

[code]

I think the error is in the result `B of 'c` part, but I am not sure exactly how ocaml is inferring things here - apparently should B accept a C which seems tricky.

[2016-03-10 03:57] whitequark commented on #83
No, that seems right. I suspect the problem might be in the variance annotation, but not sure.

[2016-03-15 15:38] trefis commented on #80
ppx_tools.4.03 is now available in opam, could you also do a release of ppx_deriving working on 4.03?
Thanks in advance.

[2016-03-16 08:25] whitequark commented on #80
https://github.com/ocaml/opam-repository/pull/6011

[2016-03-16 12:55] trefis commented on #80
Thanks again!

[2016-03-19 06:21] rgrinberg commented on #14
@c-cube do you think this is still necessary as you can use jsc's ppx_fields_conv. Or do you find it deficient?

[2016-03-19 07:38] rgrinberg commented on #17
What about class based visitors? Is there a need for those?

[2016-03-19 07:39] #75 closed

[2016-03-19 15:05] Drup commented on #17
Frankly, I would argue that only class based visitors are useful. It's much much more convenient and the speed penalty is not that terrible. See ppx_core for examples of nice mappers.

[2016-03-25 01:20] olleharstedt opened #89 "Missing implementation Ppx_deriving_runtime"
I get the error message in title when I try to binary compile my program using ppx_deriving.3.3. Any idea why? (Using opam; fresh installation; ocaml 4.02.2.)

[2016-03-25 10:30] whitequark commented on #89
Succeeds over here. Can you show the full build log, with -verbose passed to ocamlfind?

[2016-03-25 15:02] olleharstedt commented on #89
Build log of ppx_deriving or my program?

[2016-03-25 15:03] whitequark commented on #89
Latter.

[2016-03-25 15:41] olleharstedt commented on #89
Now idea how to copy-paste from VirtualBox command-line, but here's a screen-shot: http://imgur.com/PZr5a1M

Is this the information you need?

[2016-03-25 15:43] whitequark commented on #89
Use `-linkpkg` instead, or in addition to, `-linkall`

[2016-03-25 15:50] olleharstedt commented on #89
That worked, thank you!

[2016-03-25 15:53] #89 closed

[2016-03-25 16:13] olleharstedt opened #90 "This expression has type Ppx_deriving_runtime.string, expected string"
Another error message. Help?

[2016-03-25 16:14] olleharstedt commented on #90
Using ppx_deriving.3.3

[2016-03-25 16:16] whitequark commented on #90
That's a bug in your tooling. `Ppx_deriving_runtime.string` is the same as `string`: https://github.com/whitequark/ppx_deriving/blob/master/src/ppx_deriving_runtime.mli#L29.

Are you using Merlin? I know Merlin sometimes does this.

[2016-03-25 16:20] olleharstedt commented on #90
No Merlin.

[2016-03-25 16:22] olleharstedt commented on #90
https://github.com/olleharstedt/subsetphp/blob/master/llvm_test.ml#L96

[2016-03-25 16:23] whitequark commented on #90
Please make a minimal repro and submit as an OCaml bug.

[2016-03-25 16:25] olleharstedt commented on #90
OK.

[2016-03-25 20:46] olleharstedt commented on #90
Found the error: Had forgotten to include `-package ppx_deriving` in the last makefile line. Unexpected error message, though, should have been a link error...

[2016-03-25 20:48] whitequark commented on #90
Just use ocamlbuild... makefiles aren't worth the debugging time.

[2016-03-25 20:48] #90 closed

[2016-04-05 15:39] rgrinberg commented on #17
@Drup By the way, isn't this what you want? https://github.com/choeger/ppx_deriving_morphism It doesn't use classes but perhaps you can request that as a feature.

[2016-04-05 16:56] Drup commented on #17
Indeed, this seems to be what I want, nice @choeger !

[2016-04-05 17:33] choeger commented on #17
Thanks. Be aware that this tool is far from being mature, I mainly developed it to scratch my own itch. That being said, contributions of **any** form are of course welcome.  Btw, is there any real reason for class based visitors (except for the builtin recursion)? With the concise record syntax, I do not think one needs inheritance.

Version 0.2.0 should hit opam quite soon, btw.

[2016-04-06 01:15] whitequark commented on #80
I think the dependency on ppx_tools might need to be tightened. Can you investigate?

[2016-04-06 01:33] gasche commented on #80
I am indeed able to build the current master under 4.02.3 after forcing the choice of ppx_tools.4.02.3 rather than what I previously had (ppx_tools.0.99.3). So I guess that `>= 4.02.3` would work -- I assume there is the right conflict-metadata on ppx-tools' side so that it would force `4.03.0` for 4.03 users.

[2016-04-06 01:37] whitequark commented on #80
That sounds right to me. Not sure why the metadata wasn't updated--IIRC I did something about it.

[2016-04-06 01:39] whitequark commented on #80
Fixed in a02b8f3.

[2016-04-21 15:06] diml opened #96 "Runtime dependencies when using a statically linked driver"
I'm currently refreshing the doc for ppx\_driver and adding tests for other jane street rewriters. At the moment there is one annoying issue when using a statically linked ppx driver and I believe the same issue exist when using a static ppx\_deriving driver.  This ticket is to discuss a common solution that could be advertised by both libraries.

The issue is that files that are pre-processed usi

[2016-04-22 07:37] whitequark commented on #96
I'm in favor of option 2, but I feel that the `use_ppx_driver` name is rather confusing. It took me a while to untangle what exactly it means. I think something to the extent of "we run the AST rewriters ourselves" would be more meaningful--`external_ppx_rewriting`? `no_integrated_ppx_rewriting`? (I don't like these two either...)

[2016-04-22 09:07] diml commented on #96
Maybe `custom_ppx`?

[2016-04-22 09:09] whitequark commented on #96
Sounds reasonably good.

[2016-04-22 12:03] diml commented on #96
Alright, I'm using this tag for the upcoming minor release

[2016-04-22 14:17] whitequark commented on #96
Reopening since ppx_deriving (also yojson and protobuf) do not yet follow the convention.

[2016-04-23 17:50] wiredsister opened #97 "Had to remove ppx_tools to then install ppx_deriving again"
Was getting:

[code]

And after unsuccessfully installing and reinstalling, I then removed `ppx_tools` then reinstalled and it worked. I noticed a recent patch on that file `ppx_deriving.cppo.ml` from https://github.com/whitequark/ppx_deriving/commit/72975ceaf577c945e3b3b716cfff08c215c09f7d ...not sure if that has anything to do with this.

I love this library by the way!!! Thank you.

[2016-04-23 18:11] whitequark commented on #97
What version of ppx_tools did you have? ppx_deriving has a requirement of ppx_tools 4.02.3, which should have the `Label` modue...

[2016-04-23 18:23] wiredsister commented on #97
Hmmm, it was really out of date. It was on `0.99.3` and now is on `4.02.3`. I think I got into an inconsistent state when recompiling `ppx_deriving_yojson`.

[2016-04-23 19:03] whitequark commented on #97
Ah--thanks for the report. Indeed, ppx_deriving 3.3 had an inappropriately specified dependency. It's now fixed in https://github.com/ocaml/opam-repository/commit/dcef4b90edb658744aed22ac4ef303492f616eac.

[2016-04-23 19:03] #97 closed

[2016-04-23 21:42] wiredsister commented on #97
@whitequark  Glad to help :cocktail:

[2016-05-10 22:17] copy opened #100 "Segmentation fault when deriving enum with hex literal"
I'm getting a segmentation fault when using merlin on the following test case on 4.03.0+flambda. `ppx_deriving` is the program that segfaults, so I'm assuming the issue belongs here.

[code]

[2016-05-11 02:29] whitequark commented on #100
`ppx_deriving` [doesn't use any unsafe code](https://github.com/whitequark/ppx_deriving/search?utf8=%E2%9C%93&q=unsafe) (nor do its dependencies), and safe OCaml code ought to never segfault, so the problem lies elsewhere.

My suspicion would be that there is somehow a mismatch of the OCaml versions ppx_deriving, merlin, and possibly ocamlc are built for, so become absolutely sure that they match

[2016-05-11 13:00] copy commented on #100
That makes sense, but I'm only using the latest versions from opam. I also made a clean 4.03 switch and I'm still having this issue.

[2016-05-11 13:02] whitequark commented on #100
Ok, can you get me a backtrace with gdb? You may need to recompile everything with `-g` which can be achieved by adding `OCAMLPARAM=_,g` to your environment and rebuilding the switch from scratch.

[2016-05-11 13:15] copy commented on #100
Sure.

[code]

[2016-05-11 13:18] copy commented on #100
Has been confirmed to be a merlin bug on irc:

[code]

[2016-05-11 13:18] #100 closed

[2016-05-11 13:18] let-def commented on #100
Yes, this is merlin's fault. Support for 4.03 is not yet there, it is expecting an old version of marshalled files.

[2016-05-23 12:19] ygrek opened #101 "tests fail to build"
`opam install -t ppx_deriving_yojson` fails with
[code]

[2016-05-23 12:33] whitequark commented on #101
Yes. The master of ppx_deriving_yojson does not build against master of ppx_deriving. It's a known mess and it's been on my TODO list for a while...

[2016-05-26 16:02] zepalmer opened #102 "@printer fails on multi-argument variant constructor"
The `[@printer]` attribute generates invalid code when attached to a variant constructor with multiple arguments.  The code in question was originally merged in #78 in response to #77.  An example of this behavior is as follows:

[code]
[code]
[code]
[code]
[code]

[2016-05-26 16:38] #102 closed

[2016-06-02 08:51] thizanne opened #104 "Warning 39 raised by (at least) ord"
Deriving ord (and possibly other plugins ?) raises warning 39 (unused rec flag) when used on a non-recursive type. Below is a minimal example.

[code]

[code]

[2016-06-02 22:45] whitequark commented on #104
Yep, this is a known behavior. I will accept a PR fixing it.

[2016-06-23 15:39] hcarty opened #105 "Release of version using Result.result"
It would be nice to have a release of this and `ppx_deriving_yojson` since the latest for each uses `Result.result` rather than polymorphic variants for a result type.

[2016-06-24 20:12] whitequark commented on #46
@c-cube So, would you fix this? If not I will revert your change.

[2016-06-24 20:15] whitequark commented on #14
Closing. Whoever needs this can implement this.

[2016-06-24 20:15] #14 closed

[2016-06-24 20:15] whitequark commented on #17
Closing. Whoever needs this can implement this.

[2016-06-24 20:15] #17 closed

[2016-06-24 20:15] whitequark commented on #7
Closing. Whoever needs this can implement this.

[2016-06-24 20:15] #7 closed

[2016-06-24 20:16] whitequark commented on #30
Closing. Whoever needs this can implement this.

[2016-06-24 20:16] #30 closed

[2016-06-24 20:17] whitequark commented on #11
Closing. Whoever needs this can implement this. In addition, I'm not sure what the output would look like.

[2016-06-24 20:17] #11 closed

[2016-06-24 20:17] whitequark commented on #101
This is a problem with `ppx_deriving_yojson`, which has its own repository. It will be addressed shortly.

[2016-06-24 20:17] #101 closed

[2016-06-24 20:22] whitequark commented on #104
Closing as I have no time to fix minor issues like that.

[2016-06-24 20:22] #104 closed

[2016-06-24 20:36] whitequark commented on #96
Fixed in e9cbb151be.

@diml, can you please take a look and confirm that it works as you expect?

[2016-06-24 20:36] #96 closed

[2016-06-24 20:41] whitequark commented on #30
Oh, looks like this was fixed by @gasche  in 4fc257050.

[2016-06-24 20:44] whitequark commented on #83
@andrewray Any chance you could submit a fix for this?

[2016-06-24 22:37] whitequark commented on #105
`4.0` released.

[2016-06-24 22:37] #105 closed

[2016-06-24 23:26] hcarty commented on #105
Thank you!

[2016-06-30 21:04] andrewray commented on #83
Having a look at this now.  In this bit of code

[code]

I want to replace the `???` with the actual type.  I dont see how to get this within `expr_of_typ` without changing it's signature (`core_type -> expression`) to something like `type_declaration -> core_type -> expression`.    However, this function also seems to be part of the Ppx_deriving.deriver structure so I am not too sure about changi

[2016-07-01 10:23] whitequark commented on #83
Closed by #106.

[2016-07-01 10:23] #83 closed

[2016-07-04 09:48] diml commented on #96
I think it's all good, thanks

[2016-07-20 19:13] infinity0 opened #107 "Support exceptions"
One of the uses of sexplib is to be able to pretty-print exceptions, e.g. on stack traces. Previously via the `with sexp` syntax one could attach these to exceptions, to achieve this. But ppx_deriving does not support exceptions, so `[@@deriving sexp]` annotations have no effect - e.g. see janestreet/ppx_sexp_conv#11. It would be good if this could work.

[2016-08-03 01:35] rgrinberg opened #108 "Add hooks for ppx_sexp_conv"
@whitequark Would you accept the hooks described by diml here:

https://github.com/janestreet/ppx_type_conv/issues/6#issuecomment-236841566

If so, then I'll give implementing them a shot.

[2016-08-03 03:52] whitequark commented on #108
Sure.

[2016-08-05 10:28] superbobry opened #110 "Using with Num"
`num` is not mentioned among the builtin types supported by `ppx_deriving` plugins. Is there a way to make it work with e.g. `show`?

[2016-08-05 10:31] whitequark commented on #110
Sure. `[@printer]`.

[2016-08-05 10:45] superbobry commented on #110
Bah, silly me. Thanks!

[2016-08-05 10:45] #110 closed

[2016-08-12 21:04] whitequark commented on #108
Fixed in #109.

[2016-08-12 21:04] #108 closed

[2016-08-25 05:56] qdwang opened #112 "Is there any method to configure the `show` deriving print effect?"
Like indentation or something.

[2016-08-25 05:58] whitequark commented on #112
No.

[2016-08-25 06:04] qdwang commented on #112
@whitequark It seems that the string generated by `show` has a line length limited to 80 columns. But the  `$COLUMN` is set to 200. How can this limitation be changed?

[2016-08-25 06:07] whitequark commented on #112
The `show` deriver uses the OCaml [Format](http://caml.inria.fr/pub/docs/manual-ocaml/libref/Format.html) module. I believe you can use the generated `pp_*` functions with a formatter you provide, and use `Format.pp_set_margin` to configure wrap width.

[2016-08-25 06:18] qdwang commented on #112
@whitequark works, thanks.

[2016-08-25 06:18] #112 closed

[2016-09-07 06:59] qdwang opened #113 "How to deriving OCaml inner type like `Lexing.position`?"
[code]

In the way, it will still cause the `Error: Unbound value Lexing.pp_position`

[2016-09-07 07:00] whitequark commented on #113
https://github.com/whitequark/ppx_import/#combining-with-deriving

[2016-09-07 07:07] qdwang commented on #113
When using yojson, it shows `yojson cannot be derived for [%import :Lexing.position]`

[2016-09-07 07:36] qdwang commented on #113
Thanks

[2016-09-07 07:36] #113 closed

[2016-09-09 15:04] jaredly commented on #46
This is still a problem :( :( :(

[2016-09-09 15:10] whitequark commented on #46
@jaredly can you fix @vogler's commit above?

[2016-09-09 23:54] jaredly commented on #46
Yeah, it works (after I updated it to the current source)

[2016-09-09 23:55] #46 closed

[2016-09-09 23:56] jaredly commented on #46
Thanks! I didn't update the tests tho :/ so there's still a bit of work to be done

[2016-09-22 10:21] prepor commented on #108
Hello. Are you going to release this?

[2016-09-23 05:20] whitequark commented on #108
Will do over the weekend

[2016-09-24 17:21] whitequark commented on #108
https://github.com/ocaml/opam-repository/pull/7505

[2016-11-07 15:29] emillon opened #116 "type nonrec is ignored causing an infinite loop"
Hi,

I'm trying to use is with `type nonrec` but it seems that this annotation is ignored.

Example:

[code]

This triggers an infinite loop instead of calling the top-level `compare` function.

Thanks for this great project!

[2016-11-09 21:01] whitequark commented on #116
Please note that I do not have much time to maintain this library, and will not fix this bug. I can offer you assistance in writing a PR though.

[2016-12-06 13:11] emillon commented on #116
Sure, I'd be interested. Any pointers would be appreciated.

[2016-12-07 16:28] whitequark commented on #116
@emillon Sure. First, try compiling your code using `ocamlc -dsource`. This will output the preprocessed source as currently used. I think you will quickly spot why implementing `type nonrec` is problematic; this messes rather badly with the hygiene mechanism. (Also try using `[@@deriving]` with a let..and phrase to see the source of additional complexity.)

[2016-12-07 16:28] whitequark commented on #116
I think rewriting the output of ppx_deriving such that it works with type nonrec will already go a long way towards fixing this.

[2016-12-07 21:10] xguerin opened #117 "PPX rewritten output recursively parsed ?"
Hello there,

I wrote a plugin that basically does the following, from:

[code]

To, using `ocamlfind ocamlc -dsource ...`:

[code]

The output looks fine to me, especially compared to the `map` plugin. However, when compiling the file I am getting the following error:

[code]

`x` begin the second argument to `map`, wrongly assumed to be a `module` in that case. If I edit the output of `-dsource`

[2016-12-08 03:15] xguerin commented on #117
Please ignore that drivel. I was using `Ldot` instead of `Exp.field`. No type system in the world can efficiently prevent one from being a complete moron.

[2016-12-08 03:15] #117 closed

[2016-12-08 05:54] whitequark commented on #117
Yes, that's what I was about to reply with. Don't beat yourself too much, OCaml's AST could use a validator.

[2017-02-17 20:43] copy opened #121 "4.05 support"
On a clean 4.05.0+beta1 switch with `ppx_tools` pinned to the git repo:

`opam pin add ppx_tools --dev-repo https://github.com/alainfrisch/ppx_tools.git`

[code]

[2017-02-17 22:08] hcarty commented on #121
https://github.com/let-def/ocaml-migrate-parsetree could be useful to smooth over AST changes and avoid the current `cppo` pre-processing.

[2017-02-20 09:17] whitequark commented on #121
A pull request is welcome.

[2017-02-23 16:50] hcarty commented on #121
In case I or someone else gets a chance to work on this later - an article for converting a ppx to ocaml-migrate-parsetree: http://ocamllabs.io/projects/2017/02/15/ocaml-migrate-parsetree.html

[2017-03-03 22:51] tekknolagi opened #122 "Use Ppx_deriving_show directly"
I would like to use the `Ppx_deriving_show` module directly, for the `str_of_type` and `sig_of_type` functions. I don't see any documentation on how to link it properly. What is the best way to do that?

[2017-03-03 23:07] whitequark commented on #122
You can't, the side effect of using this module is registration of a deriver. What's the use case?

[2017-03-03 23:13] tekknolagi commented on #122
I am building a programming language that essentially has ppx_deriving.show built-in. It compiles to OCaml. In the parsing stage it's just another one of several AST transforms. It would be nice to get access to those two functions.

[2017-03-03 23:14] tekknolagi commented on #122
Right now we vendor ppx_deriving_show.ml directly, which is an ugly hack.

[2017-03-03 23:16] whitequark commented on #122
It seems like vendoring is a better option here. Consider: say I add a new option to ppx_deriving_show. Now the public interface of your language changes, without you having done anything. Is this good?

[2017-03-03 23:17] tekknolagi commented on #122
Currently we pin version 4.1, so as far as I understand, the interface of the language would not change.

[2017-03-03 23:21] whitequark commented on #122
So does that mean using the reason package and any other version of ppx_deriving together is impossible? That seems annoying, except if Reason always lives in its own opam switch.

[2017-03-03 23:25] tekknolagi commented on #122
I don't think so, but I very well could be wrong. I am not super familiar with how the OCaml ecosystem works just yet. But here is why I think that could be OK. The use for Reason is at the moment something like:

1. Write Reason code
2. Use the provided `refmt` (which bundles in ppx_deriving.show) to transform the code into OCaml code (or JS, I suppose), optionally with generated printer function

[2017-03-03 23:36] whitequark commented on #122
There can only be one version of ppx_deriving (or any other package) installed in opam at any one time. So if you choose to depend on ppx_deriving, there are two options:
  * Either the user is forced to remain on the version of ppx_deriving that Reason uses (and I'm quite uncomfortable with that, because it effectively means ppx_deriving is now frozen);
  * Or whichever version of ppx_deriving is

[2017-03-06 23:48] tekknolagi commented on #122
@whitequark We've vendored ppx_deriving and ppx_deriving_show. Cheers!

[2017-03-07 04:43] #122 closed

[2017-03-08 22:48] smondet opened #124 "`make` deriver sometimes not fully part of `ppx_deriving.std`?"
This has happened in a bunch of Docker and [Travis](https://travis-ci.org/hammerlab/biokepi/jobs/209075323) builds

It doesn't seem to happen in all cases just with `opam upgrade`, more from fresh installs.

    opam switch test403 --alias-of 4.03.0
    eval `opam config env`
    opam install ppx_deriving utop

Then in `utop`, deriving-make does not work:

[code]

In `` `ocamlfind query ppx_derivi

[2017-03-08 22:55] smondet commented on #124
`make` by itself seems to have the problem:

[code]

[2017-03-08 22:56] whitequark commented on #124
https://github.com/whitequark/ppx_deriving/commit/a4428407e974361d872e0a70e036bc7ee20e8467

[2017-03-08 22:59] smondet commented on #124
Indeed with `opam pin add ppx_deriving https://github.com/whitequark/ppx_deriving.git` it works.

[2017-03-08 23:11] smondet commented on #124
https://github.com/ocaml/opam-repository/pull/8656

[2017-03-09 17:34] Kakadu opened #125 "Please, add to README how to load ppx_deriving with some plugin to `ppx_tools/rewriter`."
I have some troubles realizing this on my own.

[2017-03-09 17:36] whitequark commented on #125
Pending https://github.com/whitequark/ppx_deriving/pull/123 there will be a change anyway. Maybe ask @let-def how to use it with the new system?

[2017-03-09 17:41] Kakadu commented on #125
So, if I'm developing a new plugin I should rely on Frederic's fork?

[2017-03-09 17:41] whitequark commented on #125
It seems the way forward, yes.

[2017-03-10 03:24] ihodes commented on #19
It's alive! https://github.com/hammerlab/ppx_deriving_cmdliner

[2017-03-10 15:20] whitequark commented on #19
Nice!!

[2017-03-12 15:48] gasche commented on #121
A port to ocaml-migrate-parsetree is discussed in https://github.com/whitequark/ppx_deriving/pull/123 .

[2017-04-04 09:21] emillon opened #127 ""result" needs to be qualified to be supported"
Hello,

I noticed that the `result` type needs to be qualified through the compatibility library to be supported. More precisely, there's the following behaviour:

[code]

I'd expect the first one to work, especially with OCaml >= 4.03.

(Note that this also happens when `-open Result` is passed to the compiler; I don't know if that would make sense for `ppx_deriving` to honor this option, or even

[2017-04-05 12:59] #127 closed

[2017-04-06 05:45] whitequark commented on #121
Fixed in master.

[2017-04-06 05:45] #121 closed

[2017-04-06 05:46] whitequark commented on #125
@let-def Can you elaborate on how manually rewriting some source is supposed to be done now?

[2017-04-06 10:41] gasche commented on #121
It would be nice if you could have a release soon; 4.05 should be out soon (the "six month" goal was on April 4, but the released will be delayed a bit).

[2017-04-07 08:07] let-def commented on #125
If invoked without `--as-ppx`, `ppx_deriving` binary does the rewriting on stdout.

The problem is to provide the path to ppx_deriving plugins, for instance this should do:
[code]

[2017-04-07 13:41] mseri commented on #125
Is it possible to use ppx_deriving with jbuilder with your changes?

[2017-04-07 14:17] let-def commented on #125
Yes, we worked with that in mind with @diml .

[2017-04-09 22:10] dorafmon opened #129 "When used as a command line tool, ppx_deriving will translate ## as a infix operator"
Eg. `obj##foo` will be translated to `(## obj foo)` when I invoke `ppx_deriving` as a command line tool (compiled by myself). I understand `##` is not standard object dispatch, but is it possible that we keep it as it is, and not transform it?

Thanks!

Best,
Bob

[2017-04-09 22:12] whitequark commented on #129
ppx_deriving does not perform this transformation, parsetree printers do. Please report a bug against OCaml and/or the ocaml-migrate-parsetree project instead. (The latter is what ppx_deriving currently uses but they probably want to stay consistent with OCaml.)

[2017-04-09 22:12] #129 closed

[2017-04-10 07:14] diml opened #130 "Versioned API"
Following the discussion in https://github.com/whitequark/ppx_deriving_yojson/pull/49, I'd like to look a adding some kind of versioned API to ppx_deriving. But I'd like to discuss the final picture before starting.

# Current state

At the tip of the master branch, `Ppx_deriving` is using the 4.05 Ast from ocaml-migrate-parsetree explicitly. This means that it breaks all packages using ppx_derivi

[2017-04-11 02:22] whitequark commented on #130
We could just bump the major version. Given that we should not need to bump the major version afterwards hopefully for a long time, that seems fine.

I'm unhappy about it. Can we have exactly one copy of the Ppx_deriving logic and perform the AST conversion to/from whatever the specific deriver wants? It's not the entire AST of the file but just select type declarations, so that should not pose a

[2017-04-11 07:26] diml commented on #130
Perfect, this does make things simpler. Do you agree that `Ppx_deriving` should be renamed `Ppx_deriving_405` thought? If not, the upgrade story has to be different.

We certainly can, that's what ppx_type_conv is doing at the moment to interoperate with ppx_deriving. However it does make the code more complicated. In practice, ppx_deriving plugins will have to use one of the AST versions supporte

[2017-04-11 15:57] whitequark commented on #130
If we go ahead with two passes, then yes. Since you do not want to refactor it into one pass and I probably cannot commit to it right now either, that's what we should use, I think. The documentation will be messy. (Also, I think it should be called Ppx_deriving_4_05, but that's minor.)

Absolutely. Do I understand it right that this module would:
  * let various packages register themselves as ha

[2017-04-11 16:26] diml commented on #130
I would have thought choices the two are independent. What would you do differently in terms of API?

I was thinking of something much simpler:

[code]

then in `Ppx_deriving_4_05` we'd have:

[code]

[2017-04-11 16:42] whitequark commented on #130
Then I don't understand how is this sufficient...

[2017-04-11 17:04] diml commented on #130
Well, each pass ignores the derivers that are not register for this pass

[2017-04-11 17:07] whitequark commented on #130
Glossing over some other details that I think are troublesome, this still means that leftover derivers will be ignored. This is unacceptable, and ppx_deriving was specifically designed in a way that does not let this happen.

[2017-04-11 17:08] whitequark commented on #130
(The reason this is unacceptable is, of course, you can use `[@@deriving]` in a `.mli`, and if there's some sort of build system mishap, you could have your public interface silently changed, and undetected for a long time, perhaps.)

[2017-04-11 17:12] diml commented on #130
No. This is exactly the same as the current `Ppx_deriving.register_external` and no derivers are ignored. Technically they'll be ignored by a single pass, but if they are registered by another one, you'll know that they'll be interpreted by another pass. Each pass will still fail on every completely unknown deriver.

[2017-04-11 17:13] whitequark commented on #130
Okay, I'll need to spend some more time looking into this design.

[2017-04-19 12:22] mryau opened #131 "ppx_deriving for OCaml cross-compiler"
I want to create OPAM packages for x86 -> arm cross-compiler, but there is some troubles at process.
Does findlib.dynload dependency needed at target runtime for ppx_deriving? Or it will be used only on host at compiling time?

[2017-04-19 12:32] whitequark commented on #131
Only on host at compile-time.

[2017-04-19 19:16] mryau commented on #131
Thank you, I've cross-compiled it. So, I have both as for x86 as for ARM cross-compiler versions of this package.
Host code works nice but, of course when I tried to compile code same test to target platform I got errors:
[code]
Is it possible at all to chain right sequence of host and target versions of compiler's suite to build code for target platform?

[2017-04-19 19:30] whitequark commented on #131
First, you should use the -toolchain option of ocamlfind itself. Second, you will not be able to use unmodified META files. In fact you will have to modify the META file, and make every reference to OCaml code in it point to _build_ binaries, except for `ppx_deriving_runtime.cma`, which should point to a _host_ binary.

[2017-04-19 20:40] mryau commented on #131
Since META for target platform has only one executlabe defined in META: *ppx = "./ppx_deriving"*
but there is also many *.cmxs binaries too.
I simply replaced it to host version, also I replaced ppx_deriving_show.cmxs to host version
and for now as after the following commands
[code]
as build using
[code]
successfully builds target binary.
Is this means I should replace all binaries in target libr

[2017-04-19 20:44] whitequark commented on #131
Sorry, let me correct that above, as I wrote a typo. You should use the -toolchain option of _ocamlbuild_ itself. It was recently introduced and it works correctly in e.g. cases where there is a myocamlbuild.ml.

This method is ugly. But I do not know of any better one.

[2017-04-20 08:45] diml commented on #130
Btw, a much simpler solution is to just break the compatibility every time ppx_deriving upgrades the version of the AST it's based on. That's basically the current story for ppx_type_conv.

Then there is nothing to change right now, just upgrade a bit the API to follow the evolution of the 4.05 parsetree.

[2017-04-20 13:55] whitequark commented on #130
@diml We've already considered and rejected this option back when 4.03 came out.

[2017-04-22 12:10] whitequark commented on #125
README updated.

[2017-04-22 12:10] #125 closed

[2017-05-10 12:29] diml commented on #130
BTW, we have similar problems with ppx_core regarding versionning. Ppx_core uses one specific version of the AST (current 4.03) and when we'll upgrade this version this will break the code for users of ppx_core. Providing a versionned API for ppx_core would be too much work since it's quite big.

I had another idea recently for a ppx that would make it easy to use pattern matching on abstract type

[2017-05-10 22:31] whitequark commented on #130
@diml This is an excellent idea. Please keep me updated.

I'm not quite sure about integrating the other API-breaking changes in ppx_deriving now though, since breaking the API in a major way twice seems very troublesome...

[2017-05-11 09:08] diml commented on #130
Sure

Makes sense

[2017-05-11 23:34] bikalgurung opened #134 "Instruction on using ppx_deriving with jbuilder?"
Hi,
I am attempting to use the latest github version of `ppx_deriving` with jbuilder. However, it doesn't seem to be working with the stanza `(preprocess (pps (ppx_deriving.std)))`. Could you please provide some guidance on how one can use `ppx_deriving` with `jbuilder`.

Thanks.

[2017-05-12 01:07] whitequark commented on #134
ppx_deriving supports build systems that use ocamlfind. This looks like an issue with jbuilder's ocamlfind support, and should be addressed in jbuilder.

[2017-05-12 11:04] diml commented on #134
I had a quick look at this following the jbuilder ticket. In order for ppx_deriving to work with the ocaml-migrate-parsetree driver, the `Driver.register` must go in `ppx_deriving.ml`. Only the `Driver.run_main ()` should be in `ppx_deriving_main.ml`.

[2017-05-12 20:49] whitequark commented on #134
@diml Ack, seems like an easy fix.

@bikalgurung Do you think you can test this change and send a PR? I'm afraid I won't have time to learn jbuilder, set up a test environment, etc, any time soon.

[2017-05-12 20:52] bikalgurung commented on #134
@whitequark sure. I will give it a try.

[2017-05-17 03:59] aantron commented on #121
I second requesting a release.

[2017-05-23 19:55] ygrek opened #136 "ord: generated comparison function traverses record fields in reverse"
witness :
[code]

[code]

[2017-05-23 20:04] ygrek opened #137 "unused rec flag warning in generated code"
[code]

using [@@ocaml.warning "-A"] solves it afaics

[2017-05-23 20:10] whitequark commented on #137
Re: this and other of your issues. I care but am incapable of doing anything towards fixing them due to health issues. I will do my best to review any PRs but that is the extent of what I can.

[2017-05-29 00:32] #137 closed

[2017-05-29 00:44] hhugo opened #140 "support for OCaml 4.05"

[2017-05-29 01:12] #136 closed

[2017-06-24 16:03] aantron commented on #140
I believe this is tracked in #121 "4.05 support."

[2017-06-28 14:45] aantron commented on #121
I see "damiendoligez created tag 4.05.0+rc1 at ocaml/ocaml  35 minutes ago" in my GH feed. Any update on releasing ppx_deriving?

[2017-07-03 03:28] ygrek commented on #140
please make a release for 4.05

[2017-07-03 03:39] hcarty commented on #140
#141 needs a review first, ideally.

[2017-07-07 07:55] nickzuber opened #142 "Undefined recursive module error with ppx_derive.show"
If you try to use `ppx_deriving.show` with a recursively built module, it always throws an `Undefined_recursive_module` exception.

Here's a simple example of some code that will throw this exception:

[code]
[code]

and removing the recursive nature of the module will run just fine:

[code]
[code]

Is this a bug or is there some piece of information/lack of understanding happening here?

[2017-07-07 13:02] fpottier commented on #121
+1! I have a package that depends on ppx_deriving and would like to test it with 4.05rc1. I expect many others are in the same situation.

[2017-07-07 16:35] infinity0 opened #143 "Making other deriving plugins work on 4.05"
87050888d4fe8b12f667cfb91360e9292d344ec8 added 4.05 support but also changed the command-line interface of the ppx_deriving program so that plugin names need to be prefixed with an extra `-deriving-plugin` flag. This is causing build failures like mirleft/ocaml-nocrypto#122. I'm not sure how to tell the tooling to pass this flag in, but it seems like it should be done automatically by `ppx_derivin

[2017-07-16 03:12] gasche commented on #143
This should be fixed by #141 once it is merged.

[2017-07-19 11:46] whitequark commented on #121
Alright everyone,

I know this is really overdue and I'm sorry. I've been having health issues and for a few months I could not really dedicate much time to OSS. That has now ended and I'll merge 4.05 support ASAP.

[2017-07-25 14:49] samoht commented on #143
Yes please :-)

[2017-07-25 18:29] theindigamer opened #144 "Error: show does not support option with_path"
Double-checked this on switches `4.03.0` and `4.04.2+flambda`. While `[@@deriving show]` works just fine, adding in `{ with_path = false }` as in the readme results in this error.

![ppx_deriving_show](https://user-images.githubusercontent.com/7187503/28587285-995cb056-7144-11e7-85e0-758cb563b1d5.png)

Apart from this one issue, I've found the `show` functionality very easy to use and super helpfu

[2017-07-26 11:52] diml commented on #130
Just to follow up on this, @xclerc has been working on ppx_view_pattern. The project is in a good state and it has the dual of `Ast_helper` as view patterns, which makes it easy to use if you already know `Ast_helper`. We should be able to start our internal code review/release process soon and the project should be on github in a few weeks.

[2017-08-04 23:07] theindigamer commented on #144
A temporary work-around is using `opam pin add ppx_deriving --dev-repo`. However, it would be great if you add in the readme file what version of `ppx_deriving` should be used to be able to use the `with_path` functionality.

[2017-08-20 20:21] whitequark commented on #124
Looks like this is fixed in master and worked around for older versions, so closing.

[2017-08-20 20:21] #124 closed

[2017-08-20 20:23] whitequark commented on #143
Triage: #141 merged but other derivers still broken, more work required.

[2017-08-20 20:23] whitequark commented on #144
I'll make a new release soon.

[2017-08-20 20:25] whitequark commented on #140
Updated 4.05 support in master, still not quite ready for release. Soon™

[2017-08-21 11:51] infinity0 commented on #143
Part of the discussion there suggested that certain Jane Street packages need an update, I was able to build stuff using their development repo. @diml ?

[2017-08-22 18:41] smondet opened #146 "Local opam file: URLs and dependency on `cppo_ocamlbuild`"
The URLs point to `https://github.com/whitequark`.

And the dependency on `cppo_ocamlbuild` seems missing (it's a new package now separate from `cppo`).

[2017-08-22 20:52] whitequark commented on #146
This isn't an immediate problem FWIW as GitHub has a redirect.

That's because that was just merged a few hours ago.

[2017-08-25 12:23] whitequark opened #147 "version 4.2 generates duplicated code on OCaml 4.03.0"
See https://github.com/mirage/ocaml-cohttp/issues/573.

cc @diml

[2017-08-26 19:27] theindigamer commented on #144
Okay, the latest release `4.2` fixes this. :smile:

[2017-08-26 19:27] #144 closed

[2017-08-28 09:57] pdonadeo opened #148 "Version 4.2 fails to compile unused attributes"
I have this type definition:
[code]
It works with version 4.1 but fails in 4.2 with this error:
[code]
```default``` is actually used by yojson but not by sexp. Is this behaviour the expected one? This actually prevents to mix two generators.

[2017-08-28 10:14] whitequark commented on #148
ppx_deriving was designed with namespacing in mind; use `[@yojson.default None]` everywhere to work around issues like this.

[2017-08-28 20:01] pdonadeo commented on #148
@whitequark thanks for your suggestion but something is going wrong:
[code]
Any ideas? Maybe the culprit is not ```ppx_deriving``` but the specific filter, ```yojson```?

@mjambon FYI

In this moment I worked around downgrading ```ppx_deriving``` to 4.1.

[2017-08-29 04:14] whitequark commented on #148
@pdonadeo Try `[@deriving.yojson.default]`.

[2017-08-29 08:20] pdonadeo commented on #148
@whitequark nope, same error as before :sweat_smile:
[code]

[2017-08-29 08:21] whitequark commented on #148
Hmm, this might be a ppx_type_conv issue... I'll look at it

[2017-08-29 08:26] pdonadeo commented on #148
Thanks @whitequark. It's not urgent for me, I can happily live with version 4.1 for a while. Do you need a minimal code that stimulate this issue?

[2017-08-29 08:30] whitequark commented on #148
That would be helpful

[2017-08-29 09:06] pdonadeo commented on #148
New OPAM switch:
[code]
`main.ml`:
[code]
Compile with:
[code]
The error is:
[code]
Downgrading compiles again:
[code]
[code]
[code]

[2017-08-29 11:28] emillon commented on #134
Now that 4.2 is released, you should be able to use `ppx_deriving` with `jbuilder` using what you said:

[code]

I believe that this bug can be closed.

[2017-08-31 13:16] emillon commented on #148
I confirm that this happens also with `[@compare]` and `[@equal]`.

It seems that it's also triggering errors when other extensions like `ppx_blob` are used in the same file. ("Extension `blob' was not translated").

[2017-09-01 08:09] diml commented on #147
ppx_type_conv needs a new release. At the moment every deriver is handled by both ppx_deriving and ppx_type_conv.

[2017-09-09 12:48] bikalgurung commented on #134
Yep. this can be used now.

[2017-09-09 12:48] #134 closed

[2017-09-09 17:31] bikallem opened #149 "Using show {with_path = false} results is error"
I am attempting to use `show {with_path = false}` however, the compiler complains with the following error:
`Error: non-optional labeled argument expected`

The following sample code fails in both toplevel and ocamlc.
`module X = struct type t = C [@@deriving show { with_path = false }] end;;`

[2017-09-10 12:54] gasche commented on #149
I am unable to reproduce it under `master` or `v4.2` under 4.05.0, and under 4.1 and 4.04 ppx-deriving complains that `show does not support option with_path`. What ppx-deriving and OCaml versions are your using?

[2017-09-10 16:36] bikalgurung commented on #149
I am using ocaml 4.05.0, jbuilder 1.0+beta13, and ppx_deriving 4.2

[2017-09-20 09:12] copy commented on #149
It's probably this issue with `ppx_type_conv`: https://github.com/janestreet/ppx_type_conv/issues/9

[2017-09-25 15:32] yomimono opened #150 "README example for running an individual deriver seems not to work in 4.2"
I can't seem to run an individual deriver with `-deriving-plugin` as the README says I should be able to with version 4.2.  All output from `ocamlfind` seems correct and consistent, but I always get `Failure("Ast_mapper: OCaml version mismatch or malformed input")`.

Please let me know what other diagnostic information would be helpful.

[code]

[2017-09-25 20:22] whitequark commented on #150
ppx_deriving is kind of broken right now, but I haven't had time to work properly on it due to FOSS overload. sorry.

[2017-09-25 22:55] yomimono commented on #150
Aw, I'm sorry to hear that. ppx_deriving looked like just the thing for a project I've just started on, and I was looking forward to working with it.  Thanks for the quick reply, @whitequark , and I hope you have time and energy to work on the things you find rewarding :)

[2017-09-26 04:41] gasche commented on #150
I hope we can find the manpower to complement @whitequark here, but I haven't been able to help much myself with the compiler distribution release work. (cc @let-def)

[2017-09-26 16:32] xclerc commented on #150
The command executed by `ocamlfind ppx_deriving/ppx_deriving` expects
the passed file to contain a marshalled AST, but `test.ml` is a plain source file.

Here is a temporary workaround:

    ocamlfind ocamlopt -ppx '`ocamlfind query ppx_deriving`/ppx_deriving `ocamlfind query ppx_deriving`/ppx_deriving_show.cma' -dsource -c test.ml

[2017-09-27 10:42] xclerc commented on #150
I pushed a tentative fix in a new branch, namely `main-omp-driver`.

The problem is that is `ppx_deriving_main` now uses the omp machinery
to register a driver. However, to make that happen and be able to set
command-line arguments for the driver, we need the registration in
`ppx_deriving` to be explicit (thus breaking other use cases).

My feeling is that moving to omp (and jbuilder for that matt

[2017-09-27 14:03] xclerc commented on #148
The error is actually raised by `ppx_core` that is used by `ppx_sexp_conv`.
Indeed, `ppx_core` does some sanity checks and reports unused attributes,
not knowing that another non-`ppx_core`-based deriver will use them later on.

With @diml, we discussed the possibility to change these errors into warnings
plugged into the AST (*i.e.* `[@@ocaml.ppwarning "some message"]`), and
have a patch ready. H

[2017-10-02 12:10] bjoyx opened #151 "Can't install on OS X"
[code]

[2017-10-02 12:14] gasche commented on #151
This is a dependency metadata error that you should be able to work-around by just `opam install cppo_ocamlbuild`. Before you do this, can you tell me whether `cppo` is currently installed on your machine (`opam list -i | grep cppo` or `opam show cppo` and then look for the "installed versions" line)?

I'll try to find the faulty packaging metadata and fix it, thanks for the report.

[2017-10-02 12:16] bjoyx commented on #151
Thanks the quick reply!

`cppo` and `cppo_ocamlbuild` are already installed...

[code]

[code]

[2017-10-02 12:33] gasche commented on #151
Oh, this seems to suggest that I misunderstood the issue.

This may be a problem with the `system` switch. If you first use `opam switch install 4.05.0` (you may need an `eval $(opam config env)` after that to set the new environment, and then do `opam install ppx_deriving` again, does it work better? You can go back to your previous environment with `opam switch system` and `eval $(opam config en

[2017-10-02 12:47] bjoyx commented on #151
Thanks I got it to install with your instructions! My system version is `4.02.3` as I installed with Reason. Seems it doesn't work with that version, or else there is something corrupted in my system install.

[2017-10-02 15:57] let-def commented on #150
@xclerc Can you explain why the registration has to be explicit? (I used to know a few months ago but I completely forgot, sorry)

[2017-10-02 18:19] #151 closed

[2017-10-03 12:56] xclerc commented on #150
I have quite possibly missed something, but by basing `Ppx_deriving_main`
on the omp registration mechanism I needed to register the driver from there
(not. to specify the command-line arguments to be processed).

Is there a way to replace an existing driver (in this case, previously registered
by the `Ppx_deriving` module) with a new one?

[2017-10-09 20:11] pmetzger opened #152 "Uchar.t support for show plugin?"
The `show` plugin has built in support for most standard library types _except_ for `Uchar.t`. It would be nice for it to be added. Should only take a line or two of code I think, though the question would be what the default way to print out a Uchar.t should be.

[2017-10-10 14:59] gabelevi commented on #142
So consider what deriving is going to generate for your example. It's going to add `pp` and `show` to your signature. However no implementations are ever provided for `pp` and `show`. We can demonstrate this behavior with the following example

[code]

So when you actually compile and run the program you get the same error.

[code]

The fix is to write your recursive module in the same way that yo

[2017-10-10 15:32] gabelevi commented on #142
I suppose you could also just use something like [cppo](https://github.com/mjambon/cppo) to do it for you

[code]
[code]
[code]
[code]

[2017-10-14 20:01] tuncer commented on #143
This affects me as well, and we're already in 4.06's beta cycle. Any predictions when this (and https://github.com/ocaml-ppx/ppx_deriving_yojson/issues/56) will be resolved?

[2017-10-14 20:35] gasche opened #153 "understanding the current mess"
Hi all,

(cc @let-def, @trefis, @bikalgurung, @avsm, @xclerc, @alainfrisch )

It seems that the current state of ppx-deriving combined with the rest of the ppx ecosystem is fairly unsatisfying for now, as this repository is full of users for which the tool does not work any more: #143, #147, #148, #149, #150 are all issues that arose since the last release of ppx-deriving (4.2) with ocaml-migrate-

[2017-10-14 21:21] xclerc commented on #153
Hi Gabriel,

I do not have yet a complete understanding of the situation, but I don't think
that going back to `cppo` is a good idea (for instance, the interaction with
Merlin is less than ideal). I have started to prepare patches to switch the
various repositories from the ocaml-ppx organization to jbuiler+omp, but
it is true that these are breaking changes.  For example, when switching to
omp dr

[2017-10-14 22:07] gasche commented on #153
Using cppo is clearly not ideal (and I am looking forward for a better way that *works*), but if it lets us easily go from a current state that does not work for most users to a state that works for most users, I'm happy to do the conditional-directive-introduction work myself. The difficulties to combine Merlin and cppo do not affect *users* of ppx-deriving, so I don't think it matters that much.

[2017-10-14 22:37] hcarty commented on #153
When I've hacked on ppx_deriving and related derivers with the cppo codebase I found it very difficult to navigate due to my lack of understanding around the differences in ppx-related API differences. merlin not working with the codebase amplified this problem, leaving me in something of a trial and error approach.

I bring this up because, while I was able to create a new deriver at the time, it

[2017-10-14 22:56] gasche commented on #153
If we decide to "break some compatibility" to be able to use ocaml-migrate-parsetree, then what is the right way to do this? Is the current state of ppx-deriving doing things correctly in this respect? If not, which of the error reports of the users above are issues to be fixed, and which are inevitable consequences of this decision to break compatibility? What is the recommended action for users

[2017-10-15 07:08] xclerc commented on #153
Regarding the switch to jbuilder and and the difficulties with ocamlbuild,
I meant if you have to apply rewriters in a specific order to get the code
you need.

Most of the issues you referenced can be solved by fixing the interactions between
deriving and type_conv/ppx_core interactions. However, I *linked* them to jbuilder/omp
because it seems much easier to treat the problems if you have clean

[2017-10-20 19:17] catalin-hritcu commented on #146
cppo_ocamlbuild dependency still missing on opam

[2017-10-22 23:50] ejgallego commented on #153
@gasche https://github.com/ocaml-ppx/ppx_import/issues/17 was also claimed to be due to this.

[2017-10-23 04:34] rgrinberg commented on #153
First of all, I'd like to say that I'm really grateful for the creation ppx_deriving and I've gotten a ton of mileage out of it over the years. But perhaps we should rethink some fundamental assumptions. Like if our man power is low, what are the reasons to maintain the ppx_deriving parallel universe in the first place? Are there any unique features that ppx_deriving offers over ppx_type_conv?

Fo

[2017-10-23 05:06] gasche commented on #153
My worry is that if there is something basic in the ppx ecosystem that no one understands, it is going to be a problem *anyway*.

[2017-10-23 07:04] rgrinberg commented on #153
That's not an independent issue. Part of the problem is that there's simply too much overlapping stuff out there. To comment about some of the concrete issues you've brought up:

* The issue with the `-no-check` thing is unfortunate and there's no good workaround for it yet. The spellchecking feature is very important, and without it you can publish packages with some silly typos. I wish that ppx_

[2017-10-23 07:44] ejgallego commented on #153
So what is the proposed path forward then? Should I abandon my software that works very well with `ppx_import`? Sorry but that sounds really _bad_.

[2017-10-23 07:47] gasche commented on #153
The ppx_core approach may be technically superior and may win out in the long run. However, I don't think that breaking people's tools as a way to force them to migrate to a completely different stack is a reasonable approach to change management. It is perfectly fine to encourage people to move to ppx_type_conv, or to try to incrementally evolve ppx_deriving (possibly with well-justified compatib

[2017-10-23 07:49] gasche commented on #153
To me, today, it seems that the right way forward to help ppx_deriving users is to revert the ocaml-migrate-parsetree work, and add ifdefs for 4.05 and 4.06. This is *simple*, I can easily do this work, and it will let people that wrote code under 4.04 or older keep compiling it just fine under future OCaml versions -- which is what they expected and what they deserve. This approach does have draw

[2017-10-23 08:31] rgrinberg commented on #153
I have no opinion on whether ppx_deriving should get rid of omp but I think that your approach is basically deprecating ppx_deriving without announcing it publicly to end users. First of all, you'll be making the plugin effectively unavailable to jbuilder users which are now a huge chunk of users (the majority?). And second of all, my memories of the old cppo hell must be not be as fond as yours.

[2017-10-23 08:50] gasche commented on #153
You seem to think that ppx_deriving currently works correctly for jbuilder users. Have you tested this, can you confirm? Does it work under all OCaml versions? I asked this as part of my first question, but nobody answered it so far.

I'm proposing to fix a long-stanging breakage by the only way anyone here has proposed. You are proposing to ignore the issue instead and tell users that their code

[2017-10-23 08:52] rgrinberg commented on #153
I didn't mean to trivialize the issue. But I just don't see how ppx_import in its current form can exist in a frictionless ppx world. It doesn't use omp so you will possibly have to update it on every new version of the compiler. Additionally, it contradicts the view that preprocessing and compiling are done at 2 separate stages in your build pipeline. This is an important assumption for fast buil

[2017-10-23 08:55] gasche commented on #153
I think that some of the disconnect in the discussion comes from the sort of user model one has in mind. We are fortunate in the OCaml community to have many people interested in actively maintaining their project, and adopting new libraries, tools or technology when it improves over the statu quo. For example, everyone using jbuilder today is in this category. This is very good, and making sure t

[2017-10-23 09:30] gasche commented on #153
I agree that, long-term, using omp is a better technical choice for the project. I am only proposing to use ifdefs as a temporary solution, as long as the current mess is not resolved in a long-term way. For example, we could make a 4.1.1 release that only adds support OCaml 4.05 and 4.06. I don't see how that would be worse than the current situation.

That sounds like a reasonable opinion, but w

[2017-10-23 10:02] trefis commented on #153
JaneStreet doesn't use ppx_deriving internally, it never has.
I know @diml invested a fair amount of time in making sure that, externally, people could use our ppxs, and type_conv, with ppx_deriving (and ocamlbuild).
But that was before omp and jbuilder, I'm not sure we still have anything of the sort.

Hope that helps.

[2017-10-23 10:13] whitequark commented on #153
What the actual fuck.

I spend eight months in the depths of hell that is an undiagnosed bipolar II disorder, and all I come back to is (a) Jane Street pushing their next abomination over the heads of everyone in the wider OCaml community without any regard to what people actually want and (b) some assholes enabling them to do so.

"This is an important assumption for fast builds", a nice excuse y

[2017-10-23 10:46] rgrinberg commented on #153
Wow, I didn't consider such a strong response.  I am willing to rethink my
approach, but it seems like what you have in mind is the sort of loyalty
that only football fans have for their favorite clubs. In my approach,
convenience plays a large role however. That is the reason why I even use
ppx in the first place.

Believe me, I am grateful. I've have recommended ppx_deriving over
janestreet's ty

[2017-10-23 11:10] whitequark commented on #153
When I started with OCaml with 4.02 just coming out, there wasn't ppx_*anything*. I wrote guides for getting starting with it for the sole reason that someone asked me on IRC, ppx_deriving, ppx_import, and others, for me and anyone else to use.

When OCaml updated to 4.03 and 4.04, I've kept updating it, for (a bit) me and (mostly) anyone else to use.

When OCaml had absolutely *nothing* as a cros

[2017-10-23 11:22] whitequark commented on #153
Or to paraphrase the above: maybe the reason you have one capable maintainer per two similar projects is that Jane Street is actively (by using a closed, opaque development and release process, and ignoring most of the community feedback) driving away the ones it does not employ.

[2017-10-23 13:11] Drup commented on #153
@rgrinberg I don't think you realize how hostile janestreet behaviour is towards libraries maintainers, ppx maintainers in particular. This is a general problem with their attitude towards FOSS, but before, it was just confined to users of their libraries and didn't affected the rest of the ecosystem much. With jbuilder, it affects all the maintainers of ppx libraries that have users using jbuilde

[2017-10-23 14:13] rgrinberg commented on #153
And it's impossible to write omp based ppx's without jbuilder because oasis and friends lack support, am I right? While that's an issue, let's keep in mind that omp doesn't have any special support or treatment for jbuilder. The way omp support appeared in jbuilder is simply because diml put some work to make it happen. I don't see how jbuilder is privileged by omp in any way here. Furthermore, th

[2017-10-23 14:18] Drup commented on #153
It is ? I tried a few month ago and couldn't manage to do it. Also, I though that the problem was precisely that (forced) migration to omp made everything very complicated.

[2017-10-23 14:23] rgrinberg commented on #153
From my own setup on 4.05:

[code]

Seems to work with a ppx_deriving and ppx_type_conv deriver for this simple case.

[2017-10-23 14:31] avsm commented on #153
Dear all, my apologies for taking so long to come in on this thread. The road to ppx has been a bumpy, multi-year migration away from camlp4, and the issues raised here are all solvable with level-headed  communication.

The original charter of creating this ocaml-ppx organisation a few months ago was to have a neutral place where all the valid approaches of ppx could be placed, and then to docume

[2017-10-23 15:01] Drup commented on #153
While this is all great, I had a discussion on that precise subject with @diml and @yminsky where I explained these points in, I hope, a clear and civilized fashion, and the answer was borderline insulting. Apparently, if the request doesn't come from a Serious OCaml User, then it's acceptable to treat you like an idiot. So please, do weight in. :)

[2017-10-23 15:12] #153 closed

[2017-10-23 15:13] avsm commented on #153
@Drup

I've asked once already for the use of less emotive and more objective language, and will lock this issue thread if it continues.

Please remember that ppx_driver, ocaml-migrate-parsetree, and Jbuilder itself are all new, fast-moving efforts that are also coping with a very new fast rate of OCaml compiler releases in the past few years. It could well be that there is a misunderstanding betw

[2017-10-23 15:16] gasche commented on #153
I think that I learned from the discussions in this thread as much as I could reasonably hope to learn while opening the topic, which is:

1. The matter of managing the needs of both driverized-ppx and non-driverized-ppx users is delicate, and no one is willing or able to step up to resolve it shortly. We need to think more about how to increase the bus factor there, and a smooth transition plan,

[2017-10-23 15:46] let-def commented on #153
Answering @gasche question about ocaml-migrate-parsetree:

At the basic level, OMP provides nothing more than a function from `parsetree` to `parsetree`, where you can choose an abitrary version on either side (so the actual interface looks more like: `'from_parsetree ocaml_version -> 'to_parsetree ocaml_version -> 'from_parsetree -> 'to_parsetree`).

Two issues appear:
- one of convenience, becau

[2017-10-23 15:53] gasche commented on #153
Thanks for the clarification -- that is close to my cloudy understanding, only more precise.

This means that experimenting with "just enough of OMP in ppx-driver in ppx_deriving itself and its drivers to build properly on new OCaml versions even if they don't handle the new constructions completely right" should be within reach, incrementally, from the pre-omp state. I'm sure you and Jérémie alre

[2017-10-23 16:08] ejgallego commented on #153
Well, I guess the it should exist the same way it has existed before for quite a long time? Introducing better and faster build/preprocessing methods seems fine to me, but producing hard-to-solve breakage in users it is never going to be worth the tradeoff IMVHO.

That looks easy to solve to me, and if I understand correctly, unrelated to the current bug with `ppx_import`.

Umm, I am afraid that I

[2017-10-23 19:03] whitequark commented on #153
And why even should oasis adapt to your new shiny way of doing things, that is incidentally only better in your opinion and not necessarily mine, and not jbuilder adapt to the old way of doing things, which people have used for literal years?

That is exactly how jbuilder privileges omp: because of jbuilder's corporate backing, it essentially makes a core compiler interface, `Ast_mapper`, impossib

[2017-10-24 01:27] rgrinberg commented on #153
@avsm @gasche

While I don't have a problem with your decision to revert omp in ppx_deriving, please don't forget that there might be existing users of ppx_deriving and jbuilder out there already. Those users will find themselves in a very uncomfortable situation and we should make sure they know what their options and workarounds are.

I would not rely on jbuilder getting support for classical pp

[2017-10-24 07:03] gasche commented on #153
So I took the initiative to create a [4.01-maintenance](https://github.com/ocaml-ppx/ppx_deriving/commits/4.1-maintenance) branch on the upstream repository -- because it's easier to review PRs from there. I chose the point right after the revert of @let-def's omp patch, which has all the non-omp-related changes that later went into 4.2. This is an experiment, please have a look and feel free to g

[2017-10-24 07:12] gasche commented on #153
@whitequark: I'm sorry I did not make more efforts to work on this issue earlier. I dropped the ball on this one.

To others: I must say that I'm a bit disappointed with the response to this issue. I generally try to stay away from PPX matters, and I only created it when I, as an external observer, got to the point where I found the current state too embarrassing to wait any longer. I was frustrat

[2017-10-24 11:53] let-def commented on #153
@gasche: I don't know much about ppx, I got involved through OMP. I would be happy to adapt OMP to specific needs if I can get a good understanding of what is involved. I don't want to lose time on PPX because, as I am not an user, I can't take informed decisions. And btw I am frustrated by the situation too (but not angry).

TL;DR If there is something that can help the situation from OMP side, I

[2017-10-24 12:47] emillon commented on #153
Hi,

First, I'd like to thank @whitequark for this library. It saved us countless lines of boilerplate code and has given us the closest to "typeclasses" we can have these days. I also second @avsm's call to calm and respect to all parties involved.

To answer the initial question (1), here is my experience as a happy user and contributor of `ppx_deriving`:

In our code base we're heavily using `p

[2017-10-24 12:50] let-def commented on #153
@emillon:

Yesterday, I said:

Everything else is opt-in.

[2017-10-24 15:48] emillon commented on #153
Absolutely, I was referring to the `ppx_deriving` <-> OMP integration in particular. Sorry for the confusion.

[2017-10-24 19:50] rleonid commented on #153
I'd also like to echo the sentiments of support for @whitequark 's work. I still remember reading your blog post while trying to figure out how to convert bisect to ppx. Thank you!

I think that praise is in order for @gasche for voicing concerns and stepping in to provide solutions. Sometimes, done is better than perfect. Thank you as well.

[2017-10-25 01:12] rgrinberg commented on #153
@emillon is porting ppx_deriving_yojson to omp an option at all? That seems like it will fix all the issues for you. It will make ppx_deriving_yojson compatible with 4.05.0, allow you to use either jbuilder *or* ocamlbuild in harmony with all the other deriving plugins that you've listed.

Could you elaborate on this? Seems like your blocker is the fact that ppx_deriving_yojson simply doesn't supp

[2017-10-25 10:10] bikalgurung commented on #153
@gasche

This seems sensible in the short term to target 4.06 release.

As it stands currently, I think the usage of `ocaml-migrate-parsetree` is probably not an issue. The issue is probably the deriving approach as used by `ppx_deriving` and the deriving approach `ppx_driver` as championed by `jbuilder`. One difference that I have noticed is that `ppx_deriving` favours plugin-based, dynamic-loadi

[2017-10-25 11:00] bikalgurung commented on #153
@whitequark

My wishes to you getting better.

Indeed, the machinery that you have implemented to make `ppx_deriving` work so far is very impressive and well appreciated by the community.

[2017-10-28 20:27] bikalgurung commented on #149
@copy Indeed, this issue seems related to `ppx_type_conv` and/or `ppx_driver`. I was using `ppx_hash` and `ppx_compare` along with `ppx_deriving` and I faced this issue. I removed the both `ppx_hash` and `ppx_driver` from jbuilder rules and `with_path` seem to work correctly.

[2017-10-30 18:46] gasche commented on #143
We have a plan for a maintenance release of ppx-deriving 4.1, in the next few days, to support OCaml 4.05 and 4.06. Hopefully we can also do the same for ppx_deriving_yojson. So I would say that the current plan is to resolve this within the week. Sorry for the slow time working out the best short-term solution.

[2017-11-09 14:34] gasche commented on #146
I just re-checked, and the cppo_ocamlbuild dependency is present in both the opam-repository packages, and in the upstream `opam` file. I thus believe that the cppo_ocamlbuild issue should now be fixed.

[2017-11-10 00:50] copy commented on #148
Temporary workaroud until `ppx_core` is fixed: Add ` -no-check` to the command line of `ppx_sexp_conv` or `ppx_jane`.

[2017-11-10 09:59] xclerc commented on #148
The latest versions of `ppx_driver` (0.9.2) disables the checks by default.
They can be enabled through a new command-line switch, namely `-do-check`.

[2017-11-14 13:26] tomjridge commented on #148
I also have this problem. For non-ppx experts, how do I add `-no-check` to my Makefile-based build?

[2017-11-14 19:44] copy commented on #148
Find the `-pp` or `-ppx` flags and add `-no-check` after each preprocessor. It should look something like this:

[code]

[2017-11-14 21:05] tuncer commented on #143
@gasche, sounds good. If you don't mind, please keep us updated here.

[2017-11-18 22:25] gasche commented on #143
Update: I have updates in the pipeline for ppx_deriving to support 4.05 and 4.06, and the plan is to make a maintenance release of ppx_deriving 4.2 first, and then release plugins on top of it (ppx_deriving_{hardcaml,protobuf,yojson}) which also have their 4.06-support PRs.

[2017-11-21 16:02] gasche commented on #140
4.2.1 was released today, and it should add support for 4.05 and 4.06 for users of the 4.2 version. Could the ppx_deriving users above try it and report on whether it works for them? (I'm hoping to release matching upgrades of the external plugins (protobuf, yojson etc.) this week.) One possibility is to also do a 4.1 maintenance release, if the blocking issues (mostly elsewhere in the ecosystem)

[2017-11-21 16:21] tuncer commented on #143
@gasche, out of the various packages I install in each switch by default, `ulex` is the only one that's still 4.06-incompatible, and that has been fixed today (https://github.com/whitequark/ulex/commit/306f31f36b2104e2cf12eed7f4eccee2cdb11c51). But it's not released into opam yet.

Was I not supposed to be able to install `yojson`? It works for me.

[2017-11-21 16:23] gasche commented on #143
ppx_deriving_yojson does not compile under 4.06 ( see pull request to fix this at https://github.com/ocaml-ppx/ppx_deriving_yojson/pull/66 ). You may be using just the `yojson` package, or another ppx-deriver for it.

[2017-11-21 16:28] tuncer commented on #143
Right, it's just `yojson`.

[2017-11-21 16:50] shonfeder commented on #143
I just switched to 4.06 to try this out. I think I must be doing something wrong, as trying to install ppx_deriving gives a constraint violation, and trying to pin ppx_deriving to 4.2.1 says that no such version exists:

[code]

[2017-11-21 16:57] tuncer commented on #143
@shonfelder, it's still 4.2 (not 4.2.1) in the opam repo. Though to be clear, I wasn't installing `ppx_deriving` explicitly, and whatever else has been made compatible with 4.06 was enough for me to miss just `ulex`. Sorry, if my success report was misleading.

[2017-11-21 16:58] tuncer commented on #143
@shonfeder, it's still 4.2 (not 4.2.1) in the opam repo. Though to be clear, I wasn't installing `ppx_deriving` explicitly, and whatever else has been made compatible with 4.06 was enough for me to miss just `ulex`. Sorry, if my success report was misleading.

[2017-11-21 17:39] gasche commented on #143
No, 4.2.1 should be in the opam repo now, you should see it with `opam update`. @shonfeder the syntax is `opam install ppx_deriving.4.2.1`, not `ppx_deriving 4.2.1`, to force a specific version.

[2017-11-21 17:58] shonfeder commented on #143
Ah! My mistake. Thanks, you @gasche, that worked for the installation.

[2017-11-21 18:07] tuncer commented on #143
Confirmed it's visible in opam now.

[2017-11-23 14:52] gasche commented on #148
Do I correctly understand that marking ppx_deriving 4.2.x as conflicting with `ppx_driver < 0.9.2` would make people's life easier by ruling this bug out?

[2017-11-23 15:14] emillon commented on #148
Probably, but on the other hand it seems impossible to install `ppx_driver.0.9.2` on `4.04.2` or `4.05.0`, so this would restrict a lot the potential users of `ppx_deriving.4.2`.

[2017-11-23 15:33] gasche commented on #148
@xclerc would you consider releasing 4.04.2 or 4.05.0 versions of ppx_driver with the disabled check?

[2017-11-23 16:26] xclerc commented on #148
`ppx_driver` only constraints `available: [ ocaml-version >= "4.03.0" ]`;
the problem comes from `ppx_ast` that, in its v0.9.2 version uses a function
that does not exist (or rather has a different name) before 4.06.

(I still have to check whether it is the only problem.)

[2017-12-05 20:45] copy commented on #149
The fixed version of `ppx_type_conv` has been released in opam, so this issue can be closed now.

[2017-12-06 04:07] #149 closed

[2017-12-12 14:01] emillon commented on #140
We're using 4.2.1 (4.1.5 for old compiler versions) with 4.05 and it works perfectly here.

[2017-12-28 14:15] emillon commented on #153
@rgrinberg it looks like this was unrelated to OMP, but rather an incompatibility between `ppx_type_conv` and `ppx_deriving`. It's getting better with the latest releases of `ppx_driver`.

[2018-01-14 13:02] pe200012 opened #161 "Unbound value show_XXX"
<pre>
type foo = A [@@deriving show]

let () =
  print_endline (show_foo A)
  (* Here has an error. *)

</pre>
The code above can be run on the toplevel, but it cannot be compiled to a native or bytecode program.
<pre>
ocamlbuild -pkg ppx_deriving.std %<.native
+ /home/pe200012/.opam/4.06.0/bin/ocamlc.opt -c -I /home/pe200012/.opam/4.06.0/lib/ppx_deriving -I /home/pe200012/.opam/4.06.0/lib/result

[2018-01-14 17:20] gasche commented on #161
This looks like an error in the way you compile your code: you should add the `-use-ocamlfind` flag to get proper `ocamlfind` compatibility -- and in particular ppx preprocessing support. Either of the two commands below work correct:

[code]

[2018-01-14 17:20] #161 closed

[2018-01-18 09:23] #140 closed

[2018-02-03 07:05] rgrinberg opened #164 "Why does ppx_deriving use ppx_tools?"
As opposed to ppx_tools_versioned. If this is just an omission, we should get it fixed.

[2018-02-03 07:09] whitequark commented on #164
It predates ppx_tools_versioned...

[2018-03-17 15:32] sapristi opened #166 "Inconsistency between type of show in readme and source files"
Hello,
I noticed that the readme advertises `show` as having type `t -> bytes`, whereas the type really is string.

[2018-03-17 17:06] gasche commented on #166
Hi @sapristi,

Nice catch! Would you like to submit a pull request to fix this?

[2018-03-17 19:27] sapristi commented on #166
Ok I will. Should I say that  about how `ppx_deriving_runtime.ml` redefines types or leave that hidden ?

[2018-03-17 19:33] gasche commented on #166
There are two separate things:
- Some parts of the readme use `Ppx_deriving_runtime.string` instead of `string` (or similar for other types), I would remove the mention unless necessary/important
- You could add a remark about `Ppx_deriving_runtime`, for example at the end of the "Plugin conventions" section, as a separate commit.

[2018-03-18 08:43] sapristi commented on #166
Could you explain to me what the point of Ppx_deriving_runtime redefining types is ?

[2018-03-18 08:44] whitequark commented on #166
Hygiene.

[2018-03-18 08:54] gasche commented on #166
Fixed by your PR #167. Thanks!

[2018-03-18 08:54] #166 closed

[2018-03-18 08:55] gasche commented on #166
Re. Hygiene: the idea is that if you are in a compilation environment that, for some reason, redefines the type `string` to be something else (sounds implausible, but it happens for modules of the standard library), the code ppx_deriving generates will still be correct as it uses `Ppx_deriving_runtime.string`, which won't be redefined.

[2018-03-18 09:07] sapristi commented on #166
Ok thanks for the explanation.  I made another pull request for a paragraph in the "plugin conventions" section, but I guess I should rebase my commits or something like that

[2018-06-25 15:41] emillon opened #171 "Unused values when deriving show for private types"
Hi,

The following piece of code triggers warning 32 (unused value `show_x`). This is a common pattern, it happens whenever an exposed type uses a type that is not exposed.

[code]

The problem is the following:
- 4 bindings are created: `pp_x`, `show_x`, `pp`, and `show`.
- `pp`, and `show` are exposed
- `pp_x` is used in the generated definition for `pp`
- `show_x` is not, so a warning is trigge

[2018-06-27 09:03] whitequark commented on #171
I think `[@@warning "-32"]` and `[@deriving pp]` both seem like good options; we can simply do both of them.

[2018-08-07 16:05] NathanReb commented on #171
Hi,

What's the status on this issue?

I'm happy to contribute for the `[@deriving pp]` if that's fine by you!

[2018-08-07 20:08] whitequark commented on #171
@NathanReb As mentioned above in https://github.com/ocaml-ppx/ppx_deriving/issues/171#issuecomment-400598844, I think both `[@@warning "-32"]` and `[@deriving pp]` ought to be implemented. If you can do one of them, great!

[2018-08-13 18:46] smondet opened #172 "topkg configuration makes (wrong) assumption about installation directory"
Here: https://github.com/ocaml-ppx/ppx_deriving/blob/master/pkg/build.ml#L22

[code]

if the instllation prefix is not called `ppx_deriving` then the above does not work

@rgrinberg will #170 fix this?

[2018-08-14 08:38] rgrinberg commented on #172
Yes it will.

[2018-09-04 18:32] vassilmladenov commented on #153
@rgrinberg Thanks for the worked example for jbuilder. I was able to adapt it for Dune with the following file
[code]

[2018-09-04 18:39] rgrinberg commented on #153
This should be closed as it's not really relevant anymore. (@gasche and/or the other maintainers).

@vassilmladenov glad to know things are working for you. Everything should work out of the box now so there are no longer any issues.

[2018-09-05 15:54] Wilfred commented on #17
Related: https://gitlab.inria.fr/fpottier/visitors

[2018-09-22 19:52] astefano opened #173 "using [@@deriving show] with Set.Make"
Hi,

i'd like to use `[@@deriving show]` with `Set.Make`. More precisely, i have this code:

[code]
for which i get this error:

[code]
Is there a way to get rid of this error?

Thank you,
Lacramioara

[2018-09-25 16:22] astefano commented on #173
ok, thanks, we found another way  (by effectively implementing pp_state_fun ;).

[2018-09-25 16:22] #173 closed

[2018-10-05 00:52] pmetzger opened #174 "show doesn't have a handler for Uchar.t"
show doesn't have a built-in handler for Uchar.t, which makes it messy to try to derive a show function for something containing a Uchar.t.

[2018-10-05 01:04] pmetzger commented on #174
(BTW, what's a reasonable temporary workaround?)

[2018-10-05 03:57] hcarty commented on #174
In general, if there's a type without an existing deriver you can create a type alias and define your own deriver.  In the case of `show` you'd need a pretty printer for the type.  For example, something very close to the following should work if you fill in an appropriate definition for `pp_uc`.
[code]

[2018-10-05 09:21] whitequark commented on #174
Please submit a PR for `Uchar.t`, this would be very welcome.

[2018-10-05 12:11] pmetzger commented on #174
I can submit a PR for `Uchar.t`, but we need to decide on a printed representation that we're comfortable with. (That is to say, can someone suggest a color for the bikeshed?)

[2018-10-05 12:17] whitequark commented on #174
`Format.printf "U+%04X" codepoint`

[2018-10-05 12:18] whitequark commented on #174
Or maybe `Uchar.of_char '%c'` for  printable and `Uchar.of_int 0x%04X` for non-printable...

[2018-10-05 12:28] pmetzger commented on #174
That latter suggestion isn't far from what @Drup suggested, though figuring out what's printable given only the tools in the stdlib isn't easy, so it might need to default to the latter.

[2018-10-05 12:29] pmetzger commented on #174
`U+HHHH` seems problematic because it can't be a valid OCaml read syntax ever, at least not without nasty special casing.

[2018-10-05 12:43] whitequark commented on #174
You can conservatively stick to ASCII. 0x20..0x7E?

[2018-10-05 12:44] pmetzger commented on #174
Sorry, can you expand on that?

[2018-10-05 12:45] pmetzger commented on #174
@hcarty btw, in your example:

[code]

I am guessing the `uc` is the actual Uchar.t, but what's the `pp` argument?

[2018-10-05 13:12] whitequark commented on #174
I mean, convert it to `int` and check that it's between `0x20` and `0x7E`. That should cover all printable ASCII range...

[2018-10-05 14:08] pmetzger commented on #174
My current prototype is:

[code]

[2018-10-05 14:15] whitequark commented on #174
You need to skip `0x00` to `0x1F` inclusive, too.

[2018-10-05 14:49] pmetzger commented on #174
Why? Tab is better expressed as `'\t'` etc.

[2018-10-05 14:50] pmetzger commented on #174
(I can see suggesting that things other than `\t`, `\n`, `\r` etc. should be expressed in the "normal" way though.)

[2018-10-05 15:41] whitequark commented on #174
Oh sorry, I missed `Char.escaped`. You are right.

[2018-10-05 18:58] pmetzger commented on #174
One suggestion for an OCaml Uchar.t direct syntax that’s evolved on the discord channel:

[code]
(for direct entry of Unicode chars in source)

and
[code]
(for entry of chars by their hex codepoint.)

It’s gross, but finding something less gross seems hard…

[2018-10-05 19:09] pmetzger commented on #174
This convention could be implemented in a printer as:

[code]

[2018-10-14 18:42] pmetzger commented on #174
Okay, so I started looking at implementing this in ppx_deriving.show and realized that I _really_ should be proposing implementing it in Printf so it could be standard across OCaml, but for the moment, I'm not sure I entirely understand the code in `ppx_deriving_show.cppo.ml` in the `expr_of_type` function. Do I have the right place, though? That _seems_ to be where this would below.

[2018-10-29 06:59] whitequark commented on #174
Yes, I believe that is the right place to implement support for `Uchar.t`.

[2018-10-29 13:07] pmetzger commented on #174
One question is, should I start there, or should I propose something for Printf or even the lexer?

[2018-10-29 13:34] whitequark commented on #174
Why not both? The stdlib/compiler changes will likely take a lot of time.

[2018-10-29 18:34] pmetzger commented on #174
I suppose the "why not both" is that I've gotten gunshy about proposing stdlib and compiler changes, but yah, I suppose I should start somewhere.

Is the proposed syntax tasteful enough to you?

[2018-11-08 04:16] whitequark commented on #174
@pmetzger I like the syntax.

[2018-12-14 10:31] vprevosto opened #175 "Missing plugin(native) entry in META's runtime package?"
I've been trying to dynamically load a `.cmxs` that depends on `ppx_deriving_yojson`, thus on `ppx_deriving`, using `findlib` to get all necessary dependencies loaded before my actual file. This failed when `findlib` said that `ppx_deriving_runtime.cmxa` should be loaded, instead of `ppx_deriving_runtime.cmxs`. Adding the line

[code]

as part of the `runtime` package description in `ppx_deriving`

[2018-12-14 10:39] whitequark commented on #175
I *very* vaguely recall some issue with native plugins that prevented this from working. But if it actually works, it's probably just a missing entry.

[2018-12-19 18:14] vprevosto commented on #175
Thanks for your answer.

I can confirm that on my system (Arch Linux and opam 2.0), dynamic loading of `ppx_deriving_runtime` works (with the patched `META`, of course) as tested with the setting above, works from ocaml >= 4.03 (for which ppx_deriving 4.2.1 is not available anyway) up to 4.07. It can certainly be the case that there is some issue lying somewhere in a more exotic architecture. Neve

[2018-12-19 18:41] vprevosto commented on #175
Done in #176 (I'm sorry if there was a possibility to open it directly here, I'm more familiar with gitlab processes than github ones).

[2018-12-19 18:41] #175 closed

[2019-01-05 01:19] useada opened #178 "can i use it in reasonml?"

[2019-01-05 02:04] hcarty commented on #178
Yes, at least for native code compilation. I've used ppx_deriving with Reason, compiled with dune.

[2019-01-05 02:17] useada commented on #178
Great,
thank you very much, I will try this.

[2019-02-15 07:27] arucil opened #181 "Deriving show doesn't parenthesize negative numbers"
When I define a data type with an integer member, the `show_xx` function doesn't add parenthesis around a negative integer member, hence I can't just copy the output and paste into my code to construct an identical value (I use this functionality to write tests).

For example, I wrote
[code]
And I invoke `show_a (T (-20))`, the output is `(T -20)`.

By the way, I found Haskell's `deriving Show` ha

[2019-03-14 12:35] gasche opened #183 "maintenance feature request: CI testing of some of our reverse dependencies"
It would be nice if our CI would test the build of some of our reverse depencies (after pinning ppx_deriving), for example a couple plugins and a couple users of plugins. This could help us detecting breakage earlier in the release cycle.

(I don't have the knowledge of the best way to do that in immediate memory, so please feel free to point at an example of other project that does this, or even

[2019-03-28 07:52] ChengCat opened #184 "Customize printing of one of the mutually recursive types in deriving show"
For the following program, it seems that I can't have a customized printing function for the type `a`, while using `deriving show` to generate the print function for type `b`.

[code]

[2019-03-30 23:38] hhugo opened #185 "Add support for ocaml 4.08"
Check https://github.com/hhugo/ppx_deriving/commit/4f807676a218f63cc64ade3a6bb1f0a9ffcf190d to see how much changes are required.

[2019-04-17 09:42] wm775825 opened #186 "utop prints "No such package : ppx_deriving" while i did install it."
all versions below:
ocaml 4.05.0
utop 2.2.0
ppx_deriving 4.2.1.
i have installed ppx_deriving. However when i run "utop -require "ppx_deriving" in wsl(ubuntu 18.04), utop told me "No such package : ppx_deriving". why and what can i do for that?

[2019-05-04 11:06] rymdhund opened #187 "Compilation error on 4.07.1+musl+static+flambda"
Hello!

I'm having trouble installing ppx_deriving on the  `4.07.1+musl+static+flambda` switch. Here is the error when pinning to the master branch of ppx_deriving:

[code]

[2019-05-04 13:13] gasche commented on #187
If `+static` disables shared libraries (as it looks from the fact that `Dynlink` is missing), then it's no surprise that `ppx_deriving` plugins would not work, as they are dynlinked by the main `ppx_deriving` executable. It would be possible to find a static-linking workflow for plugins, but that requires changing the codebase (in non-invasive but nontrivial ways); for now that is not supported --

[2019-05-04 13:14] gasche commented on #187
(I'm waiting for an answer to make sure that I understood correctly, but eventually I think we should close the pull-request as something failing outside our current support set, rather than an actual bug.)

[2019-05-04 20:53] rymdhund commented on #187
Thanks, that explains it! What I'm really trying to do is to build a static executable of a project using ppx_deriving. I'm not really sure how the ppx stuff works but the dynlinked plugins are only used during code generation right? A finished executable wont have any dynamic dependencies on ppx_deriving? In that case I'll try to solve it using a regular switch.

You can go ahead and close this i

[2019-05-04 20:57] gasche commented on #187
Yes, that seems right, although unfortunately configuring the project's build system to do full-static linking may not necessarily be easy. Thanks for the clarification!

[2019-05-04 20:57] #187 closed

[2019-05-14 17:52] ELLIOTTCABLE opened #189 "Building static binaries with Dune"
I'm working on a BuckleScript-compatible port, and part of that involves shipping pre-built binaries of the ppx-transformer to npm.

The [README says](https://github.com/ocaml-ppx/ppx_deriving/blob/34b9d4b9b0e342ec0e6d0302e34cae174574792f/README.md#building-ppx-drivers):

I can build the standard, dynlink'd ppx_deriving via Dune in my local opam switch, but I'm having no luck with `ocamlfind`-base

[2019-05-15 05:04] rgrinberg commented on #189
If you're shipping pre built binaries, there's no need for ppx_deriving. You should just build a driver with all your preprocessors using dune and publish the binary that dune produces. This process should work for ppx_deriving.show, etc.

[2019-05-15 23:09] ELLIOTTCABLE commented on #189
Hm.

1. I'm not quite clear on how that pertains to the original question — are you saying the snippet in the README *is* definitely out-of-date / non-functinal now? Let's write replacement instructions using Dune, in that case!

2. On that note, I've spent some time poring over the Dune docs, but I'm not seeing a way to build and link against a ppx-driver into a binary target; only ways to declar

[2019-05-16 07:33] diml commented on #189
What you can do is the following: declare a public library with `(kind ppx_rewriter)` that depends on the ppx rewriters you want to distribute:

[code]

 Then run `dune build --profile release` and your ready to ship ppx will be available at `_build/install/default/lib/myppx/ppx`. This binary will be suitable for passing to the `-ppx` option of the compiler.

This part is not documented as it is o

[2019-05-16 09:44] gasche commented on #189
A side-note: I realize that the ppx_deriving README is not up-to-date with respect to a world where `dune` is the default build system used by most people (describing ocamlfind usage is still nice, but it should come second, and the `myocamlbuild.ml` part could probably be dropped), but I haven't taken the time to work on this yet. Any PRs to refresh the build documentation is welcome.

It would a

[2019-06-03 11:14] XVilka opened #190 "`[@fmt "%d"]` as a shorthand to `[@printer fun fmt -> fprintf fmt "%d"]`"
Well, the reason is quite obvious, just to be type more while the case is quite common, I believe.

[2019-06-03 11:52] gasche commented on #190
Another approach would be for you to declare a local function

[code]

and use `[@printer fmt "%d"]`.

[2019-06-03 12:01] XVilka commented on #190
@gasche it is what I did exactly, but it is still less concise than my suggestion.

[2019-06-13 10:24] XVilka opened #191 "Support mask enums"
Basically when enum members define the bitmask, and the decoded output is the superposition of the enum members.

Something like
[code]
And `show` attribute will generate the "FEATURE1 | FEATURE3" for 0x401 value for example.

[2019-06-14 15:53] #189 closed

[2019-06-14 15:56] ELLIOTTCABLE commented on #178
Relevantly, I recently finished fully porting this and publishing it to npm. I intend to maintain this, and keep it up-to-date with the upstream as much as possible.

https://www.npmjs.com/package/bs-deriving#readme

tl;dr of the README:

[code]

[code]

[2019-06-14 16:54] whitequark commented on #178
@ELLIOTTCABLE Nice!!

[2019-06-17 08:05] MattWindsor91 commented on #185
Is this dependent on [ppx_tools](https://github.com/ocaml-ppx/ppx_tools) getting 4.08 support?  From an outsider looking in, it's quite hard to see how bits of the ppx ecosystem depend on each other, but `ppx_tools` is the ultimate blocker as far as OPAM's dependency resolution goes.

[2019-06-17 09:56] XVilka opened #192 "Add flag for `show` plugin to separate fields with a newline"
Something like
[code]
will show
[code]

[2019-06-18 20:54] aatxe commented on #185
@MattWindsor91 there is an open PR on ppx_tools for 4.08 support: https://github.com/ocaml-ppx/ppx_tools/pull/70

[2019-06-19 06:03] whitequark commented on #192
I'm wondering if maybe a dynamically scoped flag would be more fitting there, to give caller control over printing. (And for `with_path` as well.)

[2019-06-19 06:05] XVilka commented on #192
@whitequark could be the option too, agree.

[2019-06-22 08:31] facelesspanda commented on #185
with ppx_tools not failing to install, I get this on ppx_deriving.
[code]
maybe I have to pin ppx_deriving too?

[2019-06-23 08:22] gasche commented on #185
I started to push some changes (like @hhugo's above, but trying to be backward-compatible) in a personal branch https://github.com/gasche/ppx_deriving/tree/4.08-support. Not ready yet.

I trid to investigate the deprecation warnings that show up while building ppx_deriving; I suspect that they may not all be related to the ppx_deriving codebase itself -- maybe there are parts of ppx_tools still in

[2019-06-25 11:15] gasche commented on #185
There was indeed a ppx_tool issue: https://github.com/ocaml-ppx/ppx_tools/pull/72

[2019-06-25 11:41] gasche commented on #185
I sent a 4.08-support PR in https://github.com/ocaml-ppx/ppx_deriving/pull/193.

[2019-06-25 17:00] benkonz opened #194 "Opaque is ignored when used with a variant"
Compiling this code:
[code]

fails with this message:
[code]

It looks like the `[@opaque]` rewriter is getting ignored. The same thing happens with the `[@printer ...]` rewriter

[2019-06-26 21:08] gasche commented on #185
@hhugo would you by chance be willing to review #193?

Anyone else is of course welcome. I'm also interested in reports from users trying the pin on their own
codebase. Be sure to also take https://github.com/ocaml-ppx/ppx_tools/pull/72 with you to avoid deprecation warnings.

[2019-06-28 14:54] aatxe commented on #185
@gasche just wanted to give an update: I'm using the pins on some of my research code, and they are working great! Happy to have both `ppx_deriving` and user-definable binding forms in the same codebase. 😄

[2019-06-28 16:29] gasche commented on #185
Thanks! In the light of this glowing user review, I went ahead and merged the branch -- so now pinning ppx_deriving#master should be enough. I'll try to make a release next week -- leaving the issue open until that happens.

[2019-07-07 15:50] #194 closed

[2019-07-16 06:13] XVilka opened #203 "Port to ppxlib"
To reduce the maintenance needed for upgrading the compiler version.
See also https://github.com/ocaml-ppx/ppx_deriving_yojson/issues/103 and https://github.com/ocaml-ppx/ppx_deriving_protobuf/issues/28

And the discussion about this: https://discuss.ocaml.org/t/ann-ppx-show-a-show-deriver-based-of-ppxlib-works-on-4-08-0/4026

[2019-09-03 07:41] spocke commented on #178
@ELLIOTTCABLE Could you update the latest NPM version since the 4.2.1 breaks in the reason language server but that seems to the fixed in the latest 4.4 version but not yet published to npm.

[2019-09-23 05:49] XVilka commented on #203
See https://github.com/ocaml-ppx/ppx_deriving/pull/206

[2019-09-27 09:19] Galfour opened #208 "Broken links on README.md"
The following links are broken on the `README.md`:
- [eq](https://github.com/ocaml-ppx/ppx_deriving/blob/master/src_plugins/ppx_deriving_eq.cppo.ml) and [show](https://github.com/ocaml-ppx/ppx_deriving/blob/master/src_plugins/ppx_deriving_show.cppo.ml)
- [Complete API docs](http://ocaml-ppx.github.io/ppx_deriving/Ppx_deriving.html)

[2019-10-30 01:01] hhugo commented on #185
can this be closed ?

[2019-10-30 01:02] #185 closed

[2019-11-01 07:42] XVilka commented on #116
This issue is mentioned in Facebook's Infer [Contributors Guide](https://github.com/facebook/infer/blob/master/CONTRIBUTING.md#ocaml).

[2019-11-07 12:07] #208 closed

[2019-11-07 12:07] gasche commented on #208
Thanks for the report! I just fixed the issue.

[2019-11-07 12:19] gasche commented on #116
Recent versions of ppx_deriving (4.1.5 (released in November 2017) and later) show an error when `nonrec` is used, so at least there is no silent production of looping code anymore.

I had a look last week and my impression is that it is not an easy problem to solve. At first it looks like just not adding the `rec` keyword would make the resulting code sensible for a `nonrec` type (the name of the

[2019-12-12 04:36] cemerick opened #209 "Opaque is ignored when used with a variant"
Echoing a very similar issue (#194), this doesn't appear to work with version 4.4:

[code]

(`Error: Unbound value pp_foo`)

but this does:

[code]

[2019-12-12 08:14] gasche commented on #209
The problem is that the parsing rules attach the `[@opaque]` attribute to the whole `B of foo` constructor, not to the type expression `foo` as you intend. You should write `B of (foo [@opaque])`, and that should work.

I can add logic in the `show` plugin to propagate more attributes in these user-tripping cases, but it somehow feels wrong to me to try to fix a grammar difficulty with workaround

[2019-12-12 08:27] gasche commented on #209
I realize that this position may be partly inconsistent with what we did for #194, where a similar addition of parentheses may also have worked to fix the issue without ppx_deriving-side change. The record case (not inline record) already had a sort of "attribute cascade" built-in to handle this case, and the inline-record fix was merely synchronizing the two constructs to behave in the same way.

[2019-12-12 14:42] cemerick commented on #209
You are correct, it does, thank you for pointing out the error. Now that you've explained what's happening, I sort of wish the same explicitness was expected for the records cases :stuck_out_tongue:

I won't presume to have actual opinions on the complex questions of ppx infrastructure decisions, but those helpers to make common transforms easier sound good. What's really missing is user feedback

[2019-12-16 12:41] XVilka commented on #191
I can add this feature if other people agree it is useful

[2020-01-20 06:00] anmonteiro opened #212 "Compiling ppx_deriving with `+musl+static`"
I wanted to revive the conversation started in https://github.com/ocaml-ppx/ppx_deriving/issues/187 wrt compiling ppx_deriving in a switch that has a statically linked OCaml compiler.

I understand this is not currently possible given that `ppx_deriving` uses Dynlink, which is not available in a statically linked compiler. Is there a way forward that removes the dynlink dependency from `ppx_derivi

[2020-01-20 16:22] emillon commented on #212
Out of curiosity, how does ppxlib solve this? does it support the toplevel at all?

[2020-01-20 16:36] diml commented on #212
Well, it doesn't really solve it. When using ppx packages via `#require` in the toplevel, we are still using the old method of:

- applying ppx rewriters one after the other via separate processes
- one of these processes in the `ppx_deriving` driver that dynamically load the various `[@@deriving]` plugins

One solution would be to do like we were doing at the Camlp4 times and simply do the prepro

[2020-01-20 18:07] anmonteiro commented on #212
Thanks for your input, @diml and @emillon. As I understand it this is something that's possible but hard to do without at least some amount of work.

My follow-up to that is: should this be a goal for ppx_deriving given the amount of work involved? I can certainly not gauge the amount of work so I'll trust your opinions.

[2020-01-21 13:28] diml commented on #212
Well, there is not much `ppx_deriving` can do at this point. It's more: some work needs to be done on the tooling to completely stop relying on the old way of using ppx, and once this is done it becomes safe for ppx_deriving to drop the dynlink code path.

Regarding whether it is worth doing this work, I personally think it is as it would make the system technically simpler overall (less code path

[2020-02-03 12:51] Kerl13 opened #213 "Optionally specifying the name of the printer produced by [@deriving show]"
It seems that for now it's not possible to control the name of the printer produced by `[@deriving show]`. I think it would be a nice feature to be able to control this name with a option like:
[code]

I'm aware this can already be emulated by defining `pp_debug` as an alias to `pp` for instance :
[code]
But this leads to a scope "polluted" with two ways of accessing the same function.

I'm also a

[2020-02-03 12:55] whitequark commented on #213
I think this makes this feature unusable for any but the simplest cases, and because of that, the added complexity is not worth the cost.

[2020-02-03 13:58] fangyi-zhou opened #214 "[@equal] annotation not working"
[code]
I think the [@equal] annotation is not taken care of inside the variant.

(I also find it difficult to debug the situation - I ran into the issue #150 when trying to get the AST)

[2020-02-03 14:02] fangyi-zhou commented on #214
I figured out this is similar to #209, but I was expecting this to work

[code]

[2020-02-03 14:03] #214 closed

[2020-02-07 23:40] chrismamo1 commented on #213
I think the emulation/workaround you provide is sufficient for basically everyone, and this isn't a very significant quality of life improvement given the additional complexity. If you don't want the name `pp` to be overwritten then there are workarounds for that as well.

[2020-02-08 09:43] Kerl13 commented on #213
I know that working around this is easy, this is not about this. I'm suggesting a simple way to customize the name without having to resort to a workaround. It admit it has limitations so I'm okay to just close the issue if this is unwanted. But I still think it'd be fine to have this feature, precisely for the simple use cases. Also I don't understand the added complexity you're referring to, I t

[2020-02-08 10:03] whitequark commented on #213
The complexity is not in the patch, but in its interaction with other features. Why is `show` so special, and this patch shouldn't touch any other deriver? Why is the inability to use the derived code elsewhere a "limitation" and not a bug? Why should we maintain this feature forever just because you needed it once?

[2020-02-08 10:03] #213 closed

[2020-03-09 15:27] eclipseo opened #216 "Multiple errors while running tests"
Fedora Rawhide with ocaml-4.10.0 and ocaml-dune-2.4.0:

[code]

[2020-03-18 12:32] michael-schwarz commented on #184
I am facing a similar issue, where I have mutable records with circular references:

[code]

Is there a way of defining a custom printer (or `to_yojson` in my case specifically) for `fieldinfo` while using the default one for `compinfo`?

[2020-04-10 01:28] chrismamo1 commented on #216
Can you provide some more information? Perhaps the `dune` file you were using?

[2020-04-18 05:49] chetmurthy opened #217 "Is it intended that attributes are fully-qualified as (e.g.) deriving.show.printer, whereas extensions are fully-qualifed as derive.show ?"
I'm just curious as to the rationale for this decision.

[2020-04-18 05:54] whitequark commented on #217
The idea was that attributes are declarative (they modify behavior) and hence use a noun (deriving), whereas extensions are imperative (they generate code in-place) and hence use a verb (derive).

[2020-04-18 05:58] chetmurthy commented on #217
Lovely!  Thank you for the quick reply!

[2020-04-18 05:58] #217 closed

[2020-04-18 07:27] chetmurthy opened #218 "[deleted, errors, recomposing]"
from searching the source, it appears "no"?

[2020-04-20 18:03] dylanirlbeck commented on #142
Just going to throw in a feature request here: since Flow created [a ppx](https://github.com/flowtype/ocaml-ppx_gen_rec) for generating the structure to use with `[@@deriving]` it would be nice to incorporate this functionality directly into `ppx.deriving`. What do you think?

[2020-04-22 16:33] rwmjones opened #219 "Various problems compiling with OCaml 4.11"
[code]

I wrote this hacky downstream patch to fix these problems temporarily:
https://src.fedoraproject.org/rpms/ocaml-ppx-deriving/blob/master/f/ppx_deriving-4.4.1-ocaml-4.11.patch

[2020-05-06 11:16] XVilka commented on #203
Finally can be closed! \o/

[2020-05-06 11:16] #203 closed

[2020-05-06 11:24] XVilka commented on #219
See https://github.com/ocaml-ppx/ppx_deriving/pull/220

[2020-05-20 13:48] thierry-martinez commented on #219
Compiling with OCaml 4.11 is now fixed: Travis checked this in https://github.com/ocaml-ppx/ppx_deriving/pull/220 . Thanks !

[2020-05-20 13:48] #219 closed

[2020-08-18 12:20] aalekseyev commented on #107
I don't really understand the issue, and we're using `[@@deriving sexp]` on exceptions in Jane Street, so presumably the issue is solved in the modern world. I'm closing the issue. Feel free to re-open if it's not, actually, solved.

[2020-08-18 12:21] aalekseyev commented on #107
Oh, well, I don't have permissions to close an issue here.

[2020-09-15 11:59] gasche commented on #107
I'm not sure how `@@deriving` is supposed to work on exception declarations. For example, if you use `type t = Foo [@@deriving show]`, you will get a `show_t` function generated "for free". But on `exception Foo [@@deriving show]`, morally there should be an extensible `show_exception` function to which a case would be added for `Foo`. I suspect that this is not supported by ppx_deriving today, as

[2020-09-23 16:46] brokenpylons opened #232 "Deriving show: Functor application not allowed here."
I have this code:

[code]

And I get:
[code]
Is there a reason why this shouldn't work? The code compiles if i create the module beforehand ```module S = Set.Make(Label)``` and then use ```S.t``` instead.

[2020-09-24 12:29] brokenpylons commented on #232
Meh, I think I figured it out, ```Set.Make(Label).pp``` is then called in the body of the generated function, right? So the generator could do ```let module S = Set.Make(Label) in ``` for each module in the type, however if the module has side effects, this probably wouldn't be a good idea...

[2020-09-24 12:35] gasche commented on #232
You figured it out correctly indeed.

It may be possible to name the module carefully: if each occurrence of a functor application (in a module path that we want to derive from) is turned into a binding on the fly, we should be able to preserve the evaluation behavior of the original program. (What we don't want is to evaluate the functor application several times in the generated code.) But this

[2020-10-20 15:34] kit-ty-kate opened #233 "[proposal] ppx_deriving 5.0 and 5.1"
OCaml 4.12 just entered its freezing period. Last release we decided to wait a bit to release ppx_deriving with ppxlib support (aka ppx_deriving 5.0) to leave people some time to adjust to the new interface.

This time I would encourage to release it as soon as possible as-is (without https://github.com/ocaml-ppx/ppx_deriving/pull/231), so that people get some incentive to get up-to-date then rele

[2020-10-20 15:56] gasche commented on #233
Your plan sounds good to me and, yes, for me it would be very useful if you could handle the release. Thanks a lot.

 Are you planning to use opam-health-check (or whatever the new name is :) to assess breakage when we first release the ppxlib support? (I don't remember if you already did this, apologies in this case.) If so, will you publish the results here?

[2020-10-22 16:20] kit-ty-kate commented on #233
I was more planning to just use the regular opam-repository CI for this as many sub-libraries already constrain ppx_deriving to < 5.0, but since you asked I launched a special check. Here are the results:

Packages incompatible with the new API:
* visitors
* ppx_deriving_madcast
* js_of_ocaml-ppx_deriving_json < 3.5.0 (from 3.5.0 it doesn't use ppx_deriving anymore)
* ppx_deriving_rpc < 6.0.0 (fro

[2020-10-23 09:15] gasche commented on #233
Thanks a lot for the checking. Comments:

- I don't think there is any problem with the packages that switched to ppxlib directly (ppx_deriving_rpc and jsoo-ppx_deriving_json)
- It looks like the 'lens' error is really easy to fix? if so, it would be nice to send a PR
- I would prefer to understand the problem with ppx_deriving_madcast and visitors, and possibly to fix them.
- the `seq` vs. `stdli

[2020-10-23 14:28] kit-ty-kate commented on #233
@gasche the issue with `seq` vs. `stdlib-shims` is that `ppxlib` depends on `stdlib-shims`. The `Seq` module seems to have been removed from `stdlib-shims` on master (in https://github.com/ocaml/stdlib-shims/pull/13). @dra27 is there a release of stdlib-shims planned?

[2020-10-23 14:44] gasche commented on #233
Ah, actually I confused stdlib-shims and std_compat. Thanks for the clarification; if it's a dependency of ppxlib, there is nothing that ppx_deriving can do to fix the issue.

[2020-10-23 15:39] dra27 commented on #233
There is a release of stdlib-shims planned, yes!

[2020-11-27 03:14] chetmurthy opened #247 "new bug in ppx_deriving ("optional" no longer works)"
Versions:
bash --login -c "RUN -s Opam-2.1.0 opam show ppx_deriving  "

<><> ppx_deriving: information on all versions ><><><><><><><><><><><><><><><><>
name                   ppx_deriving
all-installed-versions 5.2 [4.11.1]

test file `foo.ml`:
[code]
failing run:
[code]
I guess this is a bug?  I don't use ppx_deriving, except in unit-tests to verify that I'm adhering to the same semantics in my

[2020-11-27 05:34] gasche commented on #247
What the error message suggests, from a distance, is not a difference of support of `optional`, but that deriver names that are not registered are turned into errors. I must say that I did not check the behavior in the past, but you seem to suggest that they were silently ignored?

[2020-11-27 05:39] chetmurthy commented on #247
Yes, that is the behaviour that worked in the past.  Also, documented:
[code]
And finally, there's a test `test_ppx_derivint.ml` in the source code:
[code]

[2020-11-27 05:41] chetmurthy commented on #247
BTW, obviously I don't -depend- on this behaviour.  I just need to ensure that my unit-tests work with `ppx_deriving` as identically as possible, as with my own PPX type-deriving infrastructure.

[2020-11-27 11:50] kit-ty-kate commented on #247
I believe this is an inherent part of `ppxlib`'s design and it's something that we want as it helps users in case they forgot to pass the correct ppx. I'll update the documentation accordingly.

[2020-11-27 11:51] kit-ty-kate commented on #247
oh sorry nevermind I didn't read the message entirely (sorry I'm tired). Mh, I'll have a look.

[2020-11-27 11:53] #233 closed

[2021-01-17 10:42] mjambon opened #249 "deriving different equality functions for the same type"
[We have a large AST definition](https://github.com/returntocorp/pfff/blob/551cbb8481e5033ca1bba4dcc7cf119644775cab/lang_GENERIC_base/AST_generic.ml) made of many node types and we'd like to derive two different sets of equality functions:
* one using structural equality, ignoring node IDs
* one using only the node IDs

Our code looks like this:
[code]
We want one set of functions with the `equal_

[2021-01-17 20:07] gasche commented on #249
Several half-baked ideas:

1. If you have a `map` function on your type, one way to compare while ignoring ids is to "normalize" the data by mapping all ids to a dummy value. (This is probably very costly, though.)
2. `[@equal fun a b -> if !compare_by_id then ... else ...]` might work if the two different comparisons never call each other (so it works set mutate the flag for the duration of a cal

[2021-01-18 06:00] mjambon commented on #249
Thanks @gasche! I'll ruminate this. The trick using a ref (2) is probably the simplest and could be made foolproof by setting a flag that indicates whether a comparison is in progress. Something like this:
[code]

[2021-01-18 08:01] gasche commented on #249
I think there is a minor bug in your code: if you `failwith` because an equality is in progress, the `~finally` block will unset the work status, causing the ongoing equality tests (assuming we are in a scenario where calls indeed interleave) to `assert false`. It would be more correct with `Fun.protect` only in the branch where you set the reference.

[2021-01-18 08:30] mjambon commented on #249
nice catch, thank you.

For the record, this is the corrected code (still untested):
[code]

[2021-01-20 00:43] mjambon commented on #249
Also, the following doesn't work (type `stmt_value` escapes its scope):
[code]

This is due to generated code being of the form:
[code]

When one needs to depend on one of the generated functions in the same `let rec` group, a solution is to pass the required function as an argument, so as to avoid the use of a `ref`:
[code]
and the ppx annotation becomes this:
[code]

[2021-02-01 22:39] vphantom commented on #212
(Quick note in case others like me end up here looking to _build_ static binaries but without actually needing a statically-linked _compiler_: I found out today that to compile static binaries, one only needs to use a `+musl` switch along with `-ccopt -static` compiler flags. `ppx_deriving` seems quite happy with the Musl libc.)

[2021-03-14 22:45] chetmurthy opened #251 "Should the "eq" deriver return false on Float.nan ?"
That is to say,
[code]
but even so, it seems like, for the purpose to which the eq-deriver gets put (typically debugging), it might be the case that this should be `true` ?

[2021-03-15 00:41] chetmurthy commented on #251
Or maybe it should be driven by an option?  E.g., `nan_self_equal` ?

[2021-09-02 17:46] anchpop opened #253 "How to use custom `eq` for variant?"
From the readme:

But when I try:
[code]
That results in this error:
[code]
Am I using it wrong, or does it not work for variants? (It'd be confusing if it didn't, because `printer` does work for variants)

[2021-09-02 17:53] kit-ty-kate commented on #253
[code]
with parenthesis works.

I'm guessing `[@attribute]` attaches to `Boo of test` and not to `test`.

This is probably something that could be fixed indeed (unless `[@equal ]` on a variant itself has a meaning already)

[2021-09-02 18:10] anchpop commented on #253
Oh, that's great, thank you

[2021-09-02 18:10] #253 closed

[2021-09-11 08:27] thierry-martinez commented on #251
I think I would prefer to define a type `float'` with a custom equality in this situation. Wouldn't this solution be enough for your use case?

[2021-09-11 08:32] thierry-martinez commented on #152
Further discussions on this problem in #174

[2021-09-11 08:32] #152 closed

[2021-09-11 16:50] giltho opened #254 "Deriving ord on a variant containing `Error`"
Hello!

It looks like deriving `ord` when a type contains a variant called `Error` leads a bug.

This is what happens:
![image](https://user-images.githubusercontent.com/8451179/132955177-5584313b-2a39-498b-84bf-e6b6fde913d8.png)

While if we do the same thing with a field called `SError` for example, it works.
I am guessing the generated expression contains the `Result.Error` type and there's som

[2021-09-11 21:42] chetmurthy commented on #251
It is, and someone over at the OCaml discussion forum pointed out that I could just supply my own equality function for floats.  So it's not an actual problem, and I should have closed this issue ages ago (sorry).

[2021-09-11 21:42] #251 closed

[2021-09-29 23:17] shonfeder commented on #131
Is this still an issue to be addressed? Seems as though sufficient info was provided back in 2017, and there may not be anything be  done around this?

[2021-09-30 00:15] shonfeder commented on #183
Looks to be closed by #227

[2021-09-30 07:26] #183 closed

[2021-09-30 07:26] gasche commented on #183
Indeed, thanks!

[2021-10-04 11:16] #143 closed

[2021-10-04 11:17] kit-ty-kate commented on #172
The port to dune fixed this issue

[2021-10-04 11:17] #172 closed

[2021-10-04 11:18] kit-ty-kate commented on #143
(this looks fixed so i closed it)

[2021-10-04 11:22] kit-ty-kate commented on #178
This looks fixed. Please reopen if not.

[2021-10-04 11:22] #178 closed

[2021-10-04 11:39] kit-ty-kate commented on #216
[code]
works fine on fedora and dune 2.4.0 and I haven't been able to find the original failure in the Fedora bugtracker, so closing. Feel free to reopen if you can provide a reproduction case.

[2021-10-04 11:39] #216 closed

[2021-10-04 11:44] kit-ty-kate commented on #218
Given the way this issue was edited I'm guessing it can be closed. If not please feel free to reopen.

[2021-10-04 11:44] #218 closed

[2021-10-06 17:03] pitag-ha commented on #164
Is this still the case? It seems like it's not using any of the two anymore, but ppxlib, doesn't it?

[2022-02-13 06:50] concatime opened #257 "[E] Unbound type constructor Result.result"
Hi.
I'm trying to bootstrap [FStar](https://github.com/FStarLang/FStar) and it depends on ppx_deriving.
When trying to build `v5.2.1`, I get:
[code]
I'm using the latest versions: `OCaml@4.13.1`, `dune@2.9.3`, `cppo@1.6.8`, `ppx_derivers@1.2.1` and `ppxlib@0.24.0`.
I’m very unfamiliar with OCaml environment, so bear with me :)

[2022-02-13 08:41] gasche commented on #257
`Result.result` comes from the [result](https://github.com/janestreet/result) package, do you have it installed? (Are you using the standard build instructions for ppx_deriving, or something different? It's strange that there is no complaint as it is listed as a dependency.)

I wonder if we shouldn't use `Result.t` instead, which should be equivalent and may work properly without the `result` pack

[2022-02-13 11:58] kit-ty-kate commented on #257
I believe this is a consequance of a bug in dune fixed in dune 3.0.0: https://github.com/ocaml/dune/pull/4946
The issue is that with dune < 3 the `result` library is a builtin in dune and so if it is used but not installed it will be defined as empty and will not contain `Result.result` (from older versions of the result compat library)

We could use `Result.t` indeed but we must not forget to add

[2022-02-13 17:10] concatime commented on #257
Well, you nailed it folks!
But now, after adding the `result` package, I get:
[code]

[2022-02-13 17:25] kit-ty-kate commented on #257
You can see the list of all the requirements here: https://github.com/ocaml-ppx/ppx_deriving/blob/master/ppx_deriving.opam

[2022-02-13 21:38] concatime commented on #257
Well, I was building OCaml with `--enable-shared=no --enable-static=yes`. It seems that ppx_deriving REQUIRES `--enable-shared=yes`. Am I right?

[2022-02-13 22:40] kit-ty-kate commented on #257
ah yes, that’s correct. Most OCaml package will break without shared library support

[2022-02-13 23:20] concatime commented on #257
Ok, thank you.

[2022-02-13 23:20] #257 closed

[2022-03-06 19:21] mimoo opened #259 "can't use ppx_deriving_hash with this package"
[code]

[2022-03-06 19:25] mimoo commented on #259
replaced ppx_jane with ppx_inline_test and it works!

[2022-03-06 19:49] #259 closed

[2022-03-06 19:50] gasche commented on #259
If I understand correctly, this issue is not, in fact, related to `ppx_deriving`. Good luck with your hacking :-)

[2022-04-29 16:25] apuccia opened #261 "show not working for certain types"
I'm doing a school project in which I have some types annotated with show and other plugins, as an example:
[code]

Now, I'm trying to use the corresponding show function but I get the following error:
[code]

[2022-04-30 16:52] apuccia commented on #261
I solved the problem. Simply I had to pass to `show_lvalue_node` also the `pp_*` function of the type parameter used.

[2022-04-30 16:52] #261 closed

[2022-06-15 15:25] bulvara opened #262 "Several versions of ppxlib fail"
I'm using ArchLinux and just tried to compile ppx_deriving against [ppxlib](https://github.com/ocaml-ppx/ppxlib) 0.25.0 / 0.26.0 / 0.27.0. But they all fail with the following error:

_Error: Files /usr/lib/ocaml/findlib/findlib_dynload.cmxa
       and /usr/lib/ocaml/dynlink.cmxa
       make inconsistent assumptions over implementation Dynlink_

I'm compiling with ocaml 4.13.1 – where is my mistak

[2022-06-15 15:36] bulvara commented on #262
Oh, my http://projects.camlcity.org/projects/findlib.html was too old!

[2022-06-15 15:36] #262 closed

[2022-07-26 07:06] sim642 commented on #247
This issue is due to mixed use of ppx_deriving and ppxlib derivers. The error really comes from ppxlib, where the corresponding issue is https://github.com/ocaml-ppx/ppxlib/issues/125, just to connect the dots. Apparently there is an actual user of the feature.

[2022-07-26 15:04] brokenpylons opened #264 "Deriving for types with a phantom type parameter"
Is there a way to derive: ```eq```, ```ord```, ```show```, for types that have a phantom type parameter?
For example:
[code]
The equals function generated for this type would have a signature ```('a -> 'a -> bool) -> 'a t -> 'a t -> bool```, is there a way remove the first argument and generate just ```'a t -> 'a t -> bool```? The passed comparison function will never be used inside anyways.

[2022-08-08 13:20] brokenpylons commented on #264
I realized you could do:
[code]
This way, it fills in the dummy argument and it still works. However, this solution is still unsatisfactory, because the rest of the code now needs to account for this extra argument, so I'm reopening.

[2022-08-17 09:05] sim642 commented on #264
If `t` isn't recursive (and thus its derived `equal` isn't recursive), then you should be able to just do
[code]

[2022-08-17 12:16] brokenpylons commented on #264
This doesn't work if you use this type inside another type and want to derive ```eq``` again.

[code]
This fails with ```This expression should not be a function, the expected type is  'a t```.

[code]

This fails with ```This expression has type 'a -> 'a -> bool  but an expression was expected of type 'b usage```.

I guess you could combine this with my previous solution:
[code]
Is this the best

[2022-08-17 12:26] kit-ty-kate commented on #264
[code]
no need to define a new `equal'` function if `equal` is defined after the type definitions

[2022-08-17 12:41] sim642 commented on #264
I suspect this reveals why such support wouldn't fully work. Even if for `type 'a t = Thing` we derive `val equal: 'a t -> 'a t -> bool`, then whenever `t` is used in another type that we want to derive for (e.g. in `usage`), it is instantiated with one type parameter and thus `val equal: ('a -> 'a -> bool) -> 'a t -> 'a t -> bool` is assumed to exist instead. Subsequent uses of `t` don't know tha

[2022-08-17 13:16] brokenpylons commented on #264
Couldn't you examine the type, to tell if the type parameters are phantom? I guess that wouldn't work if the type was abstract, though (maybe if you could tag the parameter as phantom).

If the usage is in a separate module, I need to do something like the following, right?

[code]

[2022-10-31 13:51] cemerick opened #265 "Deriving fails over poly variants whose type name clashes with those in Ppx_deriving_runtime"
This works:

[code]

but this doesn't:

[code]

[code]

Similar errors result if `arr` is renamed to anything defined in `Ppx_deriving_runtime`, e.g. `list`, `int64`, etc. Looking at the expanded output, the `open!` of that module is what dooms the match clause that names the poly variant (`#arr` here):

[code]

(This might be related to #254, and thus #260?)